// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --button-background-color: #dadada;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --button-font-size: 16px;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 0.8,
    "max": 5,
    "step": 0.1,
    "unit": "em",
    "scope": "global"
  */
  --button-line-height: 1.7em;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --button-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --button-font-style: normal;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --button-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --button-text-transform: none;

  /* VoogStyle
    "pathI18n": ["button"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --button-color: $color-four;

  // scss-lint:enable Comment, Indentation
}
