// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
     "pathI18n": ["main_styles"],
     "titleI18n": "maximum_width",
     "editor": "rangePicker",
     "min": 600,
     "max": 1800,
     "step": 20,
     "unit": "px",
     "scope": "global"
  */
  --site-width: $site-width;

  /* VoogStyle
     "pathI18n": ["main_styles"],
     "titleI18n": "font_primary",
     "editor": "listPicker",
     "list": {{ base_font_set }},
     "featured": true,
     "scope": "global"
  */
  --font-one: $font-one;

  /* VoogStyle
     "pathI18n": ["main_styles"],
     "titleI18n": "font_secondary",
     "editor": "listPicker",
     "list": {{ base_font_set }},
     "featured": true,
     "scope": "global"
  */
  --font-two: $font-two;

  /* VoogStyle
     "pathI18n": ["main_styles", "colors"],
     "titleI18n": "primary_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true,
     "boundVariables": [
        "--content-color",
        "--content-links-hover-color",
        "--content-submenu-hover-color",
        "--content-submenu-active-color",
        "--focus-area-links-color",
        "--footer-color",
        "--header-site-title-color",
        "--header-mainmenu-hover-color",
        "--header-mainmenu-active-color",
        "--content-title-color",
        "--blog-list-title-color",
        "--form-field-text-color",
        "--h1-color"
      ]
  */
  --color-primary: $color-two;

  /* VoogStyle
     "pathI18n": ["main_styles", "colors"],
     "titleI18n": "secondary_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true,
     "boundVariables": [
        "--blog-list-date-color",
        "--button-color",
        "--content-links-color",
        "--content-submenu-color",
        "--focus-area-text-color",
        "--focus-area-links-hover-color",
        "--header-mainmenu-color",
        "--table-border-color",
        "--form-field-border-color"
     ]
  */
  --color-secondary: $color-four;

  /* VoogStyle
     "pathI18n": ["main_styles", "colors"],
     "titleI18n": "background_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true
  */
  --color-bg: $color-white;

}
