// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --h1-font-size: $h1-size;

  /* VoogStyle
     "pathI18n": ["headings", "title"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  --h1-line-height: 1em;

  /* VoogStyle
     "pathI18n": ["headings", "title"],
     "titleI18n": "alignment",
     "editor": "listPicker",
     "list": {{ base_alignment_set }},
     "scope": "global"
  */
  --h1-alignment: left;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --h1-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --h1-font-style: normal;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --h1-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --h1-text-transform: none;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --h1-color: $color-two;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --h2-font-size: $h2-size;

  /* VoogStyle
     "pathI18n": ["headings", "heading"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  --h2-line-height: $line-height;

  /* VoogStyle
     "pathI18n": ["headings", "heading"],
     "titleI18n": "alignment",
     "editor": "listPicker",
     "list": {{ base_alignment_set }},
     "scope": "global"
  */
  --h2-alignment: left;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --h2-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --h2-font-style: normal;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --h2-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --h2-text-transform: uppercase;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --h2-color: $color-error;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --h3-font-size: $font-size;

  /* VoogStyle
     "pathI18n": ["headings", "subheading"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  --h3-line-height: $line-height;

  /* VoogStyle
     "pathI18n": ["headings", "subheading"],
     "titleI18n": "alignment",
     "editor": "listPicker",
     "list": {{ base_alignment_set }},
     "scope": "global"
  */
  --h3-alignment: left;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --h3-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --h3-font-style: normal;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --h3-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --h3-text-transform: uppercase;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --h3-color: $color-error;

  // scss-lint:enable Comment, Indentation
}
