// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-separator {
    opacity: .36;
    margin-right: 3px;

    &:first-child {
      display: none;
    }
  }

  &.menu-breadcrumbs {
    line-height: 16px;

    .menu-item {
      padding-left: 0;
      font-family: $font-one;
      display: inline-block;
    }
  }
}

.item-list-page {
  .menu-breadcrumbs {
    margin: 0;
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}

.menu-horizontal {
  .menu-item{
  margin-right: 3px !important;
  }
}