// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-separator {
    opacity: .36;
    font-size: 12px;
    margin-right: 3px;

    &:first-child {
      display: none;
    }
  }

  &.menu-breadcrumbs {
    line-height: 16px;

    .menu-item {
      padding-left: 0;
    }
  }

  .menu-item {
    display: inline-block;
    font-size: 12px;

    a {
      color: var(--header-mainmenu-color) !important;

      &:hover {
        color: var(--header-mainmenu-hover-color) !important;
      }
    }
  }

  .current.menu-item {
    a {
    color: var(--header-mainmenu-active-color) !important;
    }
  }
}

.item-list-page {
  .menu-breadcrumbs {
    margin: 0;
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}

.menu-horizontal {
  .menu-item{
  margin-right: 3px !important;
  }
}