// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-separator {
    opacity: .36;
    font-size: 12px;

    &:first-child {
      display: none;
    }
  }

  &.menu-breadcrumbs {
    line-height: 16px;

    .menu-item {
      padding-left: 0;
    }
  }

  .menu-item {
    display: inline-block;
    font-size: 12px;

    a {
      color: rgba($dark-primary, .35) !important;

      &:hover {
        color: rgba($dark-primary, 1) !important;
      }
    }
  }

  .current.menu-item {
    a {
    color: rgba($dark-primary, 1) !important;
    }
  }
}

.item-list-page {
  .menu-breadcrumbs {
    margin: 0;
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}
