/* BLOG & BLOG ARTICLE */
.post-title,
.post-title a,
.post-date {
  font-family: $font-two;
  font-size: 36px;

  @include query($large-1, 'min-width') {
    font-size: #{round(36 * $wide-view-multiplier)}px;
  }
}

.post-title {
  @include hyphenate(true);
  display: inline;
  margin: 0 10px 0 0;
  font-weight: normal;

  .editmode & {
    display: block;
  }

  @include query($large-1, 'min-width') {
    padding: 0 #{round(10 * $wide-view-multiplier)}px 0 0;
  }

  &, a {
    @include color($secondary-color);
  }

  a {
    &:hover {
      @include color($secondary-color, 0.8);
    }
  }
}

.post-date {
  font-family: $font-two;
  display: inline-block;
  @include color($grey-3);
}

.post-excerpt.content-formatted {
  margin-top: 17px;
}

.post-comments-count {
  a {
    @include color($blue-1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }
}

.post-content {

  @include query($large-1, 'min-width') {
    margin-top: #{round(17 * $wide-view-multiplier)}px;
  }

  .post-body {
    margin-top: 20px;

    @include query($large-1, 'min-width') {
      margin-top: #{round(20 * $wide-view-multiplier)}px;
    }
  }

  .blog-page {
    .post {
      margin-top: 43px;

      @include query($large-1, 'min-width') {
        margin-top: #{round(43 * $wide-view-multiplier)}px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .post-page {
    .post-title {
      .editmode & {
        display: inline-block;
        min-width: 200px;

        @include query($large-1, 'min-width') {
          max-width: #{round(200 * $wide-view-multiplier)}px;
        }
      }
    }
  }
}

.post-nav {
  margin-top: 27px;
  padding-right: 5px;
  padding-left: 5px;

  @include query($large-1, 'min-width') {
    margin-top: #{round(27 * $wide-view-multiplier)}px;
    padding-right: #{round(5 * $wide-view-multiplier)}px;
    padding-left: #{round(5 * $wide-view-multiplier)}px;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }

    .post-nav-title {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $tablet-3) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-top-color: currentColor;
        border-top-style: solid;
        border-top-width: 1px;
        content: '';
        opacity: .2;
      }
    }
  }

  @media screen and (max-width: $tablet-3) {
    text-align: center;
  }
}

.post-nav-inner {
  font-size: 12px;

  @media screen and (min-width: $tablet-3 + 1) {
    display: flex;
  }

  @include query($large-1, 'min-width') {
    font-size: #{round(12 * $wide-view-multiplier)}px;
  }
}

.post-nav-link-older {
  @media screen and (min-width: $tablet-3 + 1) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $tablet-3 + 1) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  opacity: .7;
}

.blog-page {
  .post:last-child {
    .post-read-more-btn {
      margin: 5px 0 0;
     }
  }

  .post-read-more-btn {
    display: inline-block;
    margin: 5px 0 15px;
    @include color($blue-1, 1);

    &:hover {
      opacity: .8;
    }
  }

  .post-excerpt {
    margin-top: 17px;
  }
}
