// =============================================================================
// Content area buy button
// =============================================================================

.edy-buy-button-container {
  .form_field{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.edy-buy-button-variants {
  .form_field{
    padding-top: 5px;
    padding-bottom: 5px;
    .form_field_label {
      font-size: 16px;
      position: relative;
      display: block;
    }

    .form_field_select {
      position: relative;
      display: block;
      width: initial;
      margin-top: 4px;
    }
  }
}

.content-area {
  .edy-buy-button-variants {
    .form_field_select {
      position: relative;
      padding: 6px 25px 6px 7px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      vertical-align: bottom;
      background-image: url(../assets/ico-arrow-white.svg);
      background-position: right 10px center;
      background-repeat: no-repeat;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      border: 1px solid !important;
      border-color: var(--color-secondary) !important;
      color: var(--color-secondary);
    }
  }
}
.form_field{
  .custom-btn {
    display: inline-block;
    background-color: transparent;
    box-sizing: border-box;
    padding: 12px 30px 13px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
    @include hyphenate(true);
    text-decoration: none;
    border: 2px solid !important;

    &:not(.custom-btn-disabled) {
      color: var(--color-primary);
      border: 2px solid!important;
      border-color: var(--color-secondary);
    }

    &:not(.custom-btn-disabled):hover {
      background: #2b2b2b !important;
      border: 2px solid !important;
      color: $white;
      transition: $transition;
      border-color:  #2b2b2b !important;
    }
  }
}