// =============================================================================
// Content area buy button
// =============================================================================

.edy-buy-button-container {
  .form_field{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.edy-buy-button-variants {
  .form_field{
    padding-top: 5px;
    padding-bottom: 5px;
    .form_field_label {
      font-size: 16px;
      position: relative;
      display: block;
    }

    .form_field_select {
      position: relative;
      display: block;
      width: initial;
      margin-top: 7px;
    }
  }
}

.content-area {
  .edy-buy-button-variants {
    .form_field_select {
      padding: 2px 25px 2px 6px;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.5;
      vertical-align: bottom;
      background-image: url(../assets/ico-arrow.svg);
      background-position: right 10px center;
      background-repeat: no-repeat;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      background-color: $white;
    }
  }
}

.form_field{
  .custom-btn-disabled {
    cursor: default;
  }

  .custom-btn {
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    @include hyphenate(true);
    text-decoration: none;

    &:not(.custom-btn-disabled):hover {
      color: $white;
      transition: $transition;
    }
  }
}
