.content-item-box {
  .item-page &{
    margin-bottom: 30px;
    padding-top: 10px;
  }

  .item-list-page & {
    padding-top: 15px;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;

    &:hover {
      opacity: 0.9;
    }

    @media screen and (max-width: $tablet-3) {
      width: 50%;
    }

    @media screen and (min-width: $tablet-3 + 1) {
      vertical-align: top;
      width: 33.3%;
    }
  }

  .top-inner {
    opacity: 1;

    &::after {
      .editmode &,
      .item-list-page & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }

  &:hover {
    transition: $transition;

    .top-inner {
      // scss-lint:disable NestingDepth
      &::after {
        .editmode &,
        .item-list-page & {
          opacity: .2;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.item-top {
  position: relative;
  @include aspect-ratio(1, 1);

  &:hover {
    .btn,
    .edy-img-drop-area-remove-image {
      opacity: 1;
    }
  }

  .btn {
    padding: 0;
    background-color: rgba($color-science-blue, .3);
    border: 0;
    opacity: 0;
    transition: background-color .5s, opacity .5s;

    &:hover {
      background-color: rgba($color-science-blue, 1);
    }
  }

  .edy-img-drop-area-remove-image{
    width: 45px !important;
    height: 45px !important;
    top: 10px !important;
    right: 10px!important;
    z-index: 9;
    color: rgba($color-white, 1) !important;
    background-color: rgba($color-science-blue, .3)!important;
    border: 0!important;
    opacity: 0;
    transition: background-color .5s, opacity .5s !important;

    &:hover {
      background-color: rgba($color-science-blue, 1)!important;
    }
  }

  .edy-img-drop-area-remove-image-ico{
    margin-top: -10px!important;
    margin-left: -8px!important;
  }

  .bg-crop-btn {
    @include size(45px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 100%;
    color: $white;
    outline: 0;

    &.is-visible {
      display: block;
    }

    &.is-hidden,
    .without-image & {
      display: none;
    }
  }

  .top-inner {
    @include hyphenate;
    // scss-lint:disable ImportantRule
    display: flex !important;
    // scss-lint:enable ImportantRule
    align-items: center;
    justify-content: center;
    text-align: center;

    .public  & {
      overflow: hidden;

      // scss-lint:disable SelectorDepth
      // scss-lint:disable NestingDepth
      .image-landscape {
        &.not-cropped {
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        &.is-cropped {
          width: auto;
          height: 100%;
        }
      }

      .image-portrait {
        &.not-cropped {
          width: auto;
          height: 100%;
          max-height: 100%;
        }

        &.is-cropped {
          width: 100%;
          height: auto;
        }
      }

      .image-square {
        width: 100%;
        height: auto;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .with-image & {
      background-color: rgba($color-black, 0.5);
      border: 0;
    }

    .without-image & {
      border-color: rgba($color-black, .1);
      border-style: solid;
      border-width: 1px;
    }

    .edy-img-drop-area-placeholder {
      @media screen and (min-width: $large-1 + 1) {
        font-size: 17px;
      }
      @media screen and (min-width: $mobile-1 + 1) and (max-width: $large-1) {
        font-size: 15px;
      }
      @media screen and (max-width: $mobile-1) {
        font-size: 13px;
      }
    }

    .item-placeholder {
      padding: .5em;

      @media screen and (min-width: $large-1 + 1) {
        font-size: 24px;
      }
      @media screen and (min-width: $mobile-1 + 1) and (max-width: $large-1) {
        font-size: 20px;
      }
      @media screen and (max-width: $mobile-1) {
        font-size: 16px;
      }
    }
  }

  .image-drop-area {
    // scss-lint:disable ImportantRule
    background-position: center !important;
    // scss-lint:enable ImportantRule
    background-repeat: no-repeat;

    &.not-cropped {
      background-size: contain;
    }

    &:not(.active) {
      border-color: rgba($color-black, .4);
      border-style: dashed;
      border-width: 1px;

      &:hover {
        border-style: solid;
      }
    }
  }
}

.item-page{
  .content-item-title {
    margin-bottom: 15px;
  }
}

.item-list-page {
  .item-title {
    @include hyphenate;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;

    .item-link {
      @include hyphenate;
      margin-top: 15px;
      margin-bottom: 5px;
      text-align: center;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.svg-spritesheet {
  display: none;
}

.page-content {
  margin-top: 50px;

  .flexbox & {
    flex: 1 0 auto;
  }
}

@media screen and (min-width: $mobile-1 + 1) {
  .content-illustrations {
    flex: 1;
    max-width: 520px;
    margin-right: 40px;
  }
}

.content-body {
  .item-page & {
    @media screen and (min-width: $mobile-1 + 1) {
      flex: 1;
    }
  }
}

.intro-content {
  padding-bottom: 35px;
}

.content-item-boxes {
  font-size: 0;
  line-height: 1.3;
}

.content-item-boxes {
  margin-right: -10px;
  margin-left: -10px;
}

.items-body {
  margin-bottom: 10px;
}
@media screen and (min-width: $mobile-1 + 1) {
  .items-body {
    display: flex;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 0;
  transition: opacity .3s;

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-sizing: content-box;
  }

  .not-loaded &,
  .is-loaded & {
    margin-top: calc((20px / 2) * -1);
    margin-left: calc((20px / 2) * -1);
    border: 1px solid rgba($black, 0);
    animation: rotation .7s infinite linear;

    &::before {
      border-top: 1px solid rgba($black, 1);
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      border-radius: 100%;
    }
  }

  .not-loaded & {
    opacity: 1;
  }

  .is-loaded & {
    opacity: 0;
  }

  .with-error & {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background-color: rgba($red, .7);
    opacity: 1;

    &::before,
    &::after {
      position: absolute;
      top: 14px;
      width: 22px;
      height: 2px;
      background-color: $white;
      border-radius: 2px;
      content: '';
    }

    &::before {
      left: 4px;
      transform: rotate(45deg);
    }

    &::after{
      right: 4px;
      transform: rotate(-45deg);
    }
  }
}
