/* CONTENT */
.content {
  display: block;
  padding: 25px 5px 4px;

  @include query($large-1, 'min-width') {
    padding: #{round(25 * $wide-view-multiplier)}px #{round(5 * $wide-view-multiplier)}px #{round(4 * $wide-view-multiplier)}px;
  }

  .front-page & {
    padding: 0;
    text-align: center;

    .edy-product-widget-grid,
    .edy-product-widget-list {
      text-align: left;
    }

    .content-formatted {
      position: relative;
      min-width: 211px;
      padding: 19px 0 21px;

      border-top-width: 3px;
      border-top-style: solid;
      border-top-color: $white;

      @include query($large-1, 'min-width') {
        min-width: #{round(211 * $wide-view-multiplier)}px;
        padding: #{round(19 * $wide-view-multiplier)}px 0 #{round(21 * $wide-view-multiplier)}px;
        border-width: #{round(3 * $wide-view-multiplier)}px;
      }

      &:empty {
        display: none;
      }
    }
  }

  .light-background & {
    .front-page & {
      .content-formatted {
        border-color: $black;
      }
    }
  }

  @include query($tablet-2) {
    .container-inner {
      display: block;
    }
  }

  @include query($mobile-1) {
    .content {
      padding: 20 0;
    }
  }
}
