/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 20px;
  padding: 60px 0 20px;
  text-align: center;

  @include query($large-1, 'min-width') {
    min-height: #{round(20 * $wide-view-multiplier)}px;
    padding: #{round(60 * $wide-view-multiplier)}px 0 #{round(20 * $wide-view-multiplier)}px;
  }

  .container-long & {
    position: static;
    box-sizing: border-box;
    width: 100%;
    margin-top: -43px;
    padding-bottom: 21px;

    @include query($large-1, 'min-width') {
      margin-top: #{round(-43 * $wide-view-multiplier)}px;
      padding-bottom: #{round(21 * $wide-view-multiplier)}px;
    }

    .editmode & {
      padding-bottom: 61px;
    }
  }

  .footer-inner {
    max-width: 720px;
    margin: 0 auto;

    @include query($large-1, 'min-width') {
      max-width: #{round(720 * $wide-view-multiplier)}px;
    }
  }

  .content-formatted,
  .voog-reference {
    display: inline-block;
    vertical-align: middle;
  }

  .content-formatted {
    margin: 0 auto;
    padding-right: 10px;
    text-align: center;
    font-size: 9px;

    &:empty {
      display: none;
    }

    .editmode & {
      min-width: 552px;
    }

    @include query($large-1, 'min-width') {
      min-width: #{round(100 * $wide-view-multiplier)}px;
      padding-right: #{round(10 * $wide-view-multiplier)}px;
      font-size: #{round(9 * $wide-view-multiplier)}px;
    }

    @include color($white, 0.33);

    a {
      @include color($white, 0.66);

      &:hover {
        @include color($white);
      }
    }

    @include query($tablet-3) {
      display: block;
      padding: 0 20px;

      .editmode & {
        min-width: 0;
      }
    }
  }

  &.light-background {
    .content-formatted {
      @include color($black, 0.66);

      a {
        @include color($black, 0.88);

        &:hover {
          @include color($black);
        }
      }
    }
  }

  .signout-btn-margin {
    padding-top: 25px;
  }
}

.voog-reference {
  a {
    display: block;
    @include opacity(0.5);
    width: 35px;
    height: 8px;
    font-size: 0;
    background-size: cover;

    @include query($large-1, 'min-width') {
      width: 52px;
      height: 12px;
    }

    .svg & {
      background-image: url('../assets/ico-voog-white.svg');
    }

    .no-svg & {
      background-image: url('../images/ico-voog-white.png');
    }

    .light-background & {
      .no-svg & {
        background-image: url('../images/ico-voog-black.png');
      }

      .svg & {
        background-image: url('../assets/ico-voog-black.svg');
      }
    }

    &:hover {
      @include opacity(1);
    }
  }
}

.footer-gradient {
  background-image: linear-gradient
    (
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.5) 100%
    );
}
