/* FORMS */
.content-formatted {
  form {
    clear: both;
    max-width: 100%;
    margin-top: 20px;

    @include query($large-1, 'min-width') {
      margin-top: #{round(20 * $wide-view-multiplier)}px;
    }
  }

  .form_field {
    padding-top: 8px;
    padding-bottom: 8px;

    @include query($large-1, 'min-width') {
      padding-top: #{round(8 * $wide-view-multiplier)}px;
      padding-bottom: #{round(8 * $wide-view-multiplier)}px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .form_field,
  .edy-fe-label {
    font-size: 14px;
    @include color($secondary-color);

    @include query($large-1, 'min-width') {
      font-size: #{round(14 * $wide-view-multiplier)}px;
    }

    .front-page & {
      @include color($white);
    }

    .light-background & {
      @include color($black);
    }
  }

  .form_field {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    label {
      position: relative;
      display: inline;
      padding-left: 8px;
      font-weight: 400;
      line-height: 1.3;
      cursor: pointer;

      @include query($large-1, 'min-width') {
        padding-left: #{round(8 * $wide-view-multiplier)}px;
      }

      &:after {
        content: '\a';
        white-space: pre;
      }

      &:before {
        display: block;
      }
    }

    .edy-fe-label,
    .form_field_label {
      padding-left: 0;
      font-weight: 600;
    }
  }

  .comment-form .form_field label {
    padding-left: 0;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_submit input {
    font-family: inherit;
    font-size: 14px;
    @include inputiosreset;

    @include query($large-1, 'min-width') {
      font-size: #{round(14 * $wide-view-multiplier)}px;
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    width: 280px;
    margin: 8px 0 0;
    padding: 5px 8px 6px;
    @include bg($third-color);
    border: none;
    box-sizing: border-box;

    @include query($large-1, 'min-width') {
      width: #{round(280 * $wide-view-multiplier)}px;
      margin: #{round(8 * $wide-view-multiplier)}px 0 0;
      padding: #{round(5 * $wide-view-multiplier)}px #{round(8 * $wide-view-multiplier)}px #{round(6 * $wide-view-multiplier)}px;
    }

    @include query($mobile-2) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  .form_field_select {
    position: relative;
    padding-right: 18px;
    text-overflow: '';
    background-position: right 6px center;
    background-repeat: no-repeat;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  .no-svg & {
    .form_field_select {
      background-image: url('../images/ico-arrow-down.png');
    }
  }
  .svg & {
    .form_field_select {
      background-image: url('../images/ico-arrow-down.png');
    }
  }

  .form_field_checkbox,
  .form_field_radio {
    .svg & {
      visibility: hidden;
      margin-bottom: 8px;

      @include query($large-1, 'min-width') {
        margin-bottom: #{round(8 * $wide-view-multiplier)}px;
      }

      + .form_control_indicator {
        position: absolute;
        top: 1px;
        left: 3px;
        display: block;
        width: 15px;
        height: 15px;
        @include bg($third-color);

        @include query($large-1, 'min-width') {
          left: #{round(3 * $wide-view-multiplier)}px;
          width: #{round(15 * $wide-view-multiplier)}px;
          height: #{round(15 * $wide-view-multiplier)}px;
        }
      }
    }
  }

  .form_field_checkbox {
    .svg & {
      + .form_control_indicator {
        @include query($large-1, 'min-width') {
          top: #{round(3 * $wide-view-multiplier)}px;
        }
      }

      &:checked {
        + .form_control_indicator:before {
          position: absolute;
          top: -3px;
          left: 3px;
          display: block;
          width: 14px;
          height: 14px;
          content: '';
          background-size: cover;
          background-image: url('../assets/ico-tick.svg');

          @include query($large-1, 'min-width') {
            top: #{round(-3 * $wide-view-multiplier)}px;
            left: #{round(3 * $wide-view-multiplier)}px;
            width: #{round(14 * $wide-view-multiplier)}px;
            height: #{round(14 * $wide-view-multiplier)}px;
          }
        }
      }
    }
  }

  .form_field_radio {
    .svg & {
      + .form_control_indicator {
        @include query($large-1, 'min-width') {
          top: #{round(2 * $wide-view-multiplier)}px;
        }

        &, &:before {
          border-radius: 100%;
        }
      }

      &:checked {
        + .form_control_indicator:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 15px;
          height: 15px;
          content: '';
          @include bg($secondary-color);

          @include query($large-1, 'min-width') {
            width: #{round(15 * $wide-view-multiplier)}px;
            height: #{round(15 * $wide-view-multiplier)}px;
          }
        }
      }
    }
  }

  .form_field_size_medium {
    width: 420px;

    @include query($large-1, 'min-width') {
      width: #{round(420 * $wide-view-multiplier)}px;
    }

    @include query($mobile-2) {
      width: 100%;
    }
  }

  .form_field_size_large {
    width: 580px;
  }

  .form_submit {
    input {
      display: block;
      margin: 18px 0 0;
      padding: 8px 11px;
      font-size: 14px;
      @include color($white);
      line-height: 1;
      @include bg($blue-1);
      border: none;
      cursor: pointer;
      @include inputiosreset;

      &:hover {
        @include bg($blue-1, 0.8);
      }

      .front-page & {
        margin: 18px auto 0;
      }

      @include query($large-1, 'min-width') {
        margin-top: #{round(18 * $wide-view-multiplier)}px;
        padding: #{round(8 * $wide-view-multiplier)}px #{round(11 * $wide-view-multiplier)}px;
        font-size: #{round(14 * $wide-view-multiplier)}px;
      }

      @include query($mobile-2) {
        width: 100%;
      }
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: ' * \a';
    }
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);

      @include query($large-1, 'min-width') {
        border-width: #{round(1 * $wide-view-multiplier)}px;
      }
    }
  }

  .form_field_error {
    margin-top: 5px;
    margin-left: 1px;
    @include color($red);

    @include query($large-1, 'min-width') {
      margin-top: #{round(5 * $wide-view-multiplier)}px;
      margin-left: #{round(1 * $wide-view-multiplier)}px;
    }
  }

  .feedback-loading,
  .feedback-error,
  .feedback-success,
  .form_error,
  .form_notice, {
    display: inline-block;
    vertical-align: top;
    @include color($white);
    line-height: 1;
  }

  .feedback-error,
  .feedback-success,
  .form_error,
  .form_notice {
    padding: 8px 12px;
    font-size: 14px;

    @include query($large-1, 'min-width') {
      padding: #{round(8 * $wide-view-multiplier)}px #{round(12 * $wide-view-multiplier)}px;
      font-size: #{round(14 * $wide-view-multiplier)}px;
    }
  }

  .feedback-error,
  .feedback-loading,
  .feedback-success {
    margin: 18px 0 0;

    @include query($large-1, 'min-width') {
      margin-top: #{round(18 * $wide-view-multiplier)}px;
    }
  }

  .feedback-loading {
    width: 60px;
    text-align: center;
    font-size: 30px;
    @include bg($secondary-color, 0.5);

    @include query($large-1, 'min-width') {
      width: #{round(60 * $wide-view-multiplier)}px;
    }
  }

  .feedback-loading {
    span {
      display: inline-block;
      vertical-align: middle;
      width: 7.5px;
      height: 7.5px;
      margin: 0 3px 5px 0;
      background: transparent;
      border-radius: 50%;
      animation: feedback-loading 0.8s linear infinite;

      @include query($large-1, 'min-width') {
        width: #{round(7.5 * $wide-view-multiplier)}px;
        height: #{round(7.5 * $wide-view-multiplier)}px;
        margin-right: #{round(3 * $wide-view-multiplier)}px;
        margin-bottom: #{round(5 * $wide-view-multiplier)}px;
      }
    }
  }

  .feedback-loading {
    span:nth-child(2) {
      animation-delay: .2s;
    }
  }

  .feedback-loading {
    span:nth-child(3) {
      animation-delay: .4s;
    }
  }

  .feedback-loading {
    span:last-child {
      margin-right: 0;
    }
  }

  @keyframes feedback-loading {
    0% {
      background: transparent;
    }

    50% {
      background: $white;
    }

    100% {
      background: transparent;
    }
  }

  .feedback-error,
  .form_error {
    @include bg($red);
  }

  .feedback-success,
  .form_notice {
    @include bg($green);
  }

  .form_error,
  .form_notice {
    margin-bottom: 20px;

    @include query($large-1, 'min-width') {
      margin-bottom: #{round(20 * $wide-view-multiplier)}px;
    }
  }

  .close-btn {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 9;
    padding: 0;
    @include border(all, 1px, solid, $white, 0.3);
    border-radius: 100%;
    cursor: pointer;

    @include query($large-1, 'min-width') {
      width: #{round(20 * $wide-view-multiplier)}px;
      height: #{round(20 * $wide-view-multiplier)}px;
      margin-top: #{round(2 * $wide-view-multiplier)}px;
      margin-bottom: #{round(5 * $wide-view-multiplier)}px;
      margin-left: #{round(9 * $wide-view-multiplier)}px;
    }

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline: none;
    }

    .no-svg & {
      background: url("../images/ico-close.png") center center no-repeat;
    }

    .svg & {
      background: url("../assets/ico-close.svg") center center no-repeat;
    }
  }
}
