/* MENUS */
// Styling rules for the site's menus.
.main-menu {
  li {
    &.is-hidden {
      display: none !important;
    }
  }
}
// Menu button. Only visible on smaller screens.
.menu-btn {
  @extend %button;
  display: none;

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    @include query($large-1, 'min-width') {
      width: #{round(23 * $wide-view-multiplier)}px;
      height: #{round(4 * $wide-view-multiplier)}px;
      margin: #{round(4 * $wide-view-multiplier)}px 0;
    }

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  @include query($mobile-1) {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    display: inline-block;
    padding: 0;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .front-page & {
      display: none;
    }
  }
}

// Tags toggle button
.tags-btn {
  @extend %button;
  font-family: $font-two;
  width: 155px;
  height: 100%;
  padding: 0 20px;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  @include color($white);
  line-height: 1;


  @include query($large-1, 'min-width') {
    width: #{round(155 * $wide-view-multiplier)}px;
    padding: 0 #{round(20 * $wide-view-multiplier)}px;
    font-size: #{round(16 * $wide-view-multiplier)}px;
  }

  &.open,
  &.open:hover {
    @include bg($black);
  }

  &:hover {
    @include bg($black, 0.2);
  }
}

// CMS menu add/edit button
.edit-btn {
  display: inline-block;
}

// General rules for all navigation menus.
.menu {
  @include hyphenate(true);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .edit-btn {
    margin-right: 8px;
    margin-left: 8px;

    @include query($large-1, 'min-width') {
      margin-right: #{round(8 * $wide-view-multiplier)}px;
      margin-left: #{round(8 * $wide-view-multiplier)}px;
    }
  }
}

.menu-main {
  font-family: $font-two;

  &.narrow {
    max-width: 500px;

    @include query($large-1, 'min-width') {
      max-width: #{round(500 * $wide-view-multiplier)}px;
    }
  }

  .front-page & {
    position: relative;
    text-align: center;
  }

  .content-page .header & {
    @include query($mobile-1) {
      display: none;

      &.expanded {
        position: absolute;
        top: 50px;
        right: -25px;
        left: -25px;
        z-index: 10;
        display: block;
        margin-bottom: 40px;
        text-align: left;
        @include bg($white);

        @include query($large-1, 'min-width') {
          top: #{round(50  * $wide-view-multiplier)}px;
          rigth: #{round(-25 * $wide-view-multiplier)}px;
          left: #{round(-25 * $wide-view-multiplier)}px;
          margin-bottom: #{round(40 * $wide-view-multiplier)}px;
        }
      }
    }
  }

  .menu {
    .content-page {
      line-height: 1.3;
    }

    .menu-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;

      @include query($large-1, 'min-width') {
        margin-right: #{round(8 * $wide-view-multiplier)}px;
      }
      .front-page & {
        margin-right: 15px;

        @include query($large-1, 'min-width') {
          margin-right: #{round(8 * $wide-view-multiplier)}px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @include query($mobile-1) {
        &:first-child {
          .content-page & {
            @include border(top, 1px, solid, $primary-color, 0.33);
          }
        }

        .content-page & {
          display: block;
          margin-right: 0;
        }
      }

      .menu-link {
        .front-page & {
          font-size: 16px;
          @include color($white);

          @include query($large-1, 'min-width') {
            font-size: #{round(16 * $wide-view-multiplier)}px;
          }

          &.untranslated {
            @include color($white, 0.5);
          }

          &.active,
          &:hover {
            @include color($white, 0.8);
          }

          @include query($mobile-1) {
            padding: 0;
          }
        }

        .light-background & {
          @include color($black);

          &.untranslated {
            @include color($black, 0.5);
          }

          &.active,
          &:hover {
            @include color($black, 0.8);
          }
        }

        .content-page & {
          font-size: 14px;
          @include color($primary-color);

          @include query($large-1, 'min-width') {
            font-size: #{round(14 * $wide-view-multiplier)}px;
          }

          &.untranslated {
            @include color($primary-color, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($secondary-color);
          }
        }

        .topbar & {
          &.active,
          &.active:hover {
            @include color($white);
          }

          &:hover {
            @include color($white, 0.5);
          }
        }

        &:hover {
          @include color($secondary-color);
        }

        @include query($mobile-1) {
          .content-page & {
            display: block;
            padding: 7px 20px 4px;
            font-size: 20px;
            @include border(bottom, 1px, solid, $primary-color, 0.33);

            @include query($large-1, 'min-width') {
              padding: #{round(7 * $wide-view-multiplier)}px #{round(10 * $wide-view-multiplier)}px #{round(4 * $wide-view-multiplier)}px;
              font-size: #{round(20 * $wide-view-multiplier)}px;
            }
          }
        }
      }
    }

    .edit-btn {
      @include query($large-1, 'min-width') {
        position: relative;
        top: -2px;
      }

      @include query($mobile-1) {
        .content-page & {
          display: block;
          margin-right: 0;
          margin-left: 0;
          padding: 10px 25px;
          @include border(bottom, 1px, solid, $primary-color, 0.33);
        }
      }
    }
  }

  // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
  .menu-lang {
    display: none;

    .content-page & {
      @include query($mobile-1) {
        display: block;
        margin-left: 0;
        padding-left: 0;

        .menu {
          .menu-item {
            text-align: left;

            &:first-child {
              border-top: none;
            }

            .menu-link {
              padding: 12px 20px 11px 47px;
              font-size: 16px;

              &:before,
              &:after {
                top: 13px;
                left: 20px;
              }

              &.active,
              &.active:hover {
                font-weight: 600;
              }

              &.active,
              &:hover {
                background: none;
              }
            }
          }

          .edit-btn {
            padding: 12px 25px 13px;
          }
        }
      }
    }

    .flags-disabled & {
      .content-page & {
        .menu-item {
          .menu-link {
            padding: 12px 20px 11px;


            &:before,
            &:after {
              display: none;
            }

            @include query($mobile-1) {
              padding: 11px 10px 8px -99px;
            }
          }
        }
      }
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub-wrap {
  @include border(bottom, 1px, solid, $primary-color, 0.33);

  @include query($large-1, 'min-width') {
    border-width: 2px;
  }
}



.menu-sub {
  padding-top: 15px;

  .common-page &{
    padding-bottom: 15px;
  }

  .item-page & {
    padding-top: 0;
  }

  .menu-breadcrumbs {
    .menu-item {
      font-size: 12px !important;
    }
  }

  @include query($large-1, 'min-width') {
    padding: #{round(15 * $wide-view-multiplier)}px #{round(5 * $wide-view-multiplier)}px;
  }

  .menu {
    .menu-item {
      display: inline-block;
      margin-right: 10px;

      @include query($large-1, 'min-width') {
        margin-right: #{round(10 * $wide-view-multiplier)}px;
        font-size: #{round(14 * $wide-view-multiplier)}px;
      }

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include color($primary-color);

        &.untranslated {
          @include color($secondary-color, 0.5);
        }

        &.active,
        &.active:hover {
          @include color($secondary-color);
        }

        &:hover {
          @include color($secondary-color);
        }
      }
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($mobile-1) {
    .content-page & {
      position: static;
    }
  }

  .content-page & {
    @include query($mobile-1) {
      display: none;
    }
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;

    .menu-link {
      position: relative;
      display: block;
      padding: 5px 39px 4px 12px;
      @include color($secondary-color, 0.67);

      .flags-disabled & {
        padding: 5px 12px 4px;
      }

      &.active,
      &.active:hover {
        @include opacity(0.5);
        filter: grayscale(100%);
      }

      &:hover {
        @include opacity(0.75);
        filter: grayscale(50%);
      }

      &:before,
      &:after {
        top: 3px;
        right: 11px;
      }
    }
  }

  &.flags-disabled{
    .menu-item {
      .menu-link {
        padding: 5px 12px 4px;
      }
    }
  }
}


.menu-lang-btn {
  @extend %button;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  font-size: 14px;
  @include color($secondary-color, 0.67);

  &:hover,
  &.open {
    opacity: 0.8;
  }

  &:before,
  &:after {
    top: 5px;
    left: 5px;
  }

  .front-page & {
    @include color($white);
  }

  .content-page & {
    top: 3px;
  }

  .light-background & {
    @include color($black);
  }

  .flags-disabled & {
    .ico-popover-toggle {
      position: relative;
      top: -1px;
      display: inline-block;
      font-size: 7.2px;
    }
  }

  .flags-enabled & {
    width: 31px;

    .lang-title,
    .ico-popover-toggle {
      display: none;
    }
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
  }

  &::before {
    content: '';
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 28px;
    right: -6px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 121px;
    background: #fff;
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    z-index: 30;

    .editmode & {
      padding-bottom: 0;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      .flags-disabled & {
        display: none;
      }
    }
  }

  .edit-btn {
    display: block;
    padding: 8px 10px 3px;
    text-align: right;
  }
}

.lang-flag {
  &:after {
    background-position: -189px -60px;

    @include query($large-1, 'min-width') {
      background-position: #{round(-189 * 2)}px #{round(-60 * 2)}px;
    }
  }

  &:before,
  &:after {
    .flags-disabled & {
      display: none;
    }
  }
}

.lang-flag {
  &::after {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 9px;
    line-height: 1;
    color: rgba($secondary-color, .67);
    text-align: center;
    text-transform: uppercase;
    background-position: 0 -75px;
    content: attr(data-lang-code);
    box-sizing: border-box;
  }
}

// Language flag icons positioning in the spritemap.
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  // (pt, -63px 0), // Brazilian Portuguese (Brazil)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  // (fr, -42px -60px), // French (Ivory Coast)
  // (en, -63px -60px), // British English (Great Britian)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  // (en, -105px -60px), // Canadian English (Canada)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  // (en, -168px -60px), // Australian English (Commonwealth of Australia)
  (th, -189px -60px) // Thai (Thailand)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
    content: '';
  }
}

.lang-options {
  @include bg($black, 0.09);

  .menu {
    .menu-item {
      margin-top: 8px;
      padding: 7px 12px;
      font-size: 13px;

      @include query($mobile-1) {
        .content-page & {
          margin-top: 0;
          padding: 10px 12px;
          font-size: 17px;
        }
      }
    }

  }
}

.option-btn {
  @extend %button;
  font-family: inherit;
  font-size: inherit;
  @include color($blue-1);

  &:hover {
    @include color($blue-1, 0.8);
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags-editor {
  padding: 15px 5px;

  @include query($large-1, 'min-width') {
    padding: #{round(15 * $wide-view-multiplier)}px #{round(5 * $wide-view-multiplier)}px;
  }
}

.tags {
  @include border(bottom, 1px, solid, $primary-color, 0.33);

  @include query($large-1, 'min-width') {
    border-width: 2px;
  }

  .topbar & {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    z-index: 1;
    text-align: right;
    border: none;

    @include query($large-1, 'min-width') {
      right: #{round(5 * $wide-view-multiplier)}px;
    }
  }
}

.tags-title {
  font-weight: 700;
}

.menu-tags {
  display: inline-block;

  .topbar & {
    display: none;

    &.expanded {
      display: block;
      padding-bottom: 30px;
      text-align: right;
      @include bg($black);

      @include query($large-1, 'min-width') {
        padding-bottom: #{round(30 * $wide-view-multiplier)}px;
      }

      .menu-item {
        display: block;

        .menu-link {
          display: block;
          padding: 3px 20px;
          font-size: 12px;
          @include color($primary-color);

          @include query($large-1, 'min-width') {
            padding: #{round(3 * $wide-view-multiplier)}px #{round(20 * $wide-view-multiplier)}px;
            font-size: #{round(12 * $wide-view-multiplier)}px;
          }

          &.active,
          &.active:hover {
            font-weight: 600;
          }

          &.active,
          &:hover {
            @include color($white);
          }
        }
      }
    }
  }
}
