/* TOPBAR */
.topbar {
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 2;
  @include bg($secondary-color);
  @include transition (top 0.2s 0.2s);
  @include perspective;

  @include query($large-1, 'min-width') {
  top: #{round(-200 * $wide-view-multiplier)}px;
}

  .wrap {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    padding: 12px 30px;

    @include query($large-1, 'min-width') {
  max-width: #{round(650 * $wide-view-multiplier)}px;
  padding: #{round(12 * $wide-view-multiplier)}px #{round(30 * $wide-view-multiplier)}px;
}

    .container-inner & {
      background: none;
    }
  }

  // TODO: Add topbar support to mobile devices.
  @include query($tablet-1) {
    display: none;
  }
}
