/* EDITMODE STYLESHEET */
// Stylesheet for styling elements that are only used in editmode
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'variables';

// Editable content area
.edy-ca {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}
