/* IE8 FALLBACKS */
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';

// GENERAL
.body-background-color {
  -ms-filter: "alpha(opacity=50)";
}

// MENUS
.menu-lang-btn {

  &:before,
  &:after {
    position: absolute;
    top: -1px;
    left: 6px;
    margin-top: -6px;
    margin-left: -1px;
  }
}

// HEADER

// TOPBAR

// SIDEBAR

// CONTENT

// FRONT PAGE

// COMMON PAGE

// BLOG & ARTICLE

// GALLERY

// TABLES

// SEARCH

// FORMS

// COMMENTS

// FOOTER
