/* BLOG & BLOG ARTICLE */
.post-title,
.post-title a,
.post-date {
  @extend %bebas-neue-latin;
  font-size: 36px;

  html[lang=ru] & {
    @extend %bebas-neue-cyrillic;
  }

  @include query($large-1, 'min-width') {
    font-size: #{36 * $wide-view-multiplier}px;
  }
}

.post-title {
  @include hyphenate(true);
  display: inline;
  margin: 0 10px 0 0;
  font-weight: normal;

  .editmode & {
    display: block;
  }

  @include query($large-1, 'min-width') {
    padding: 0 #{10 * $wide-view-multiplier}px 0 0;
  }

  &, a {
    @include color($secondary-color);
  }

  a {
    &:hover {
      @include color($secondary-color, 0.8);
    }
  }
}

.post-date {
  @extend %bebas-neue-latin;
  display: inline-block;
  @include color($grey-3);

  html[lang=ru] & {
    @extend %bebas-neue-cyrillic;
  }
}

.post-comments-count {
  a {
    @include color($blue-1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }
}

.post-content {
  margin-top: 17px;

  @include query($large-1, 'min-width') {
    margin-top: #{17 * $wide-view-multiplier}px;
  }

  .post-body {
    margin-top: 20px;

    @include query($large-1, 'min-width') {
      margin-top: #{20 * $wide-view-multiplier}px;
    }
  }

  .blog-page {
    .post {
      margin-top: 43px;

      @include query($large-1, 'min-width') {
        margin-top: #{43 * $wide-view-multiplier}px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .post-page {
    .post-title {
      .editmode & {
        display: inline-block;
        min-width: 200px;

        @include query($large-1, 'min-width') {
          max-width: #{200 * $wide-view-multiplier}px;
        }
      }
    }
  }
}
