/* BLOG & BLOG ARTICLE */
.post-title,
.post-title a,
.post-date {
  @extend %bebas-neue;
  @include rem-fallback(font-size, 36);
}

.post-title {
  display: inline;
  @include rem-fallback(margin, 0, 10, 0, 0);
  word-break: break-all;
  font-weight: normal;

  &, a {
    @include color($secondary-color);
  }

  a {
    &:hover {
      @include color($secondary-color, 0.8);
    }
  }
}

.post-date {
  @extend %bebas-neue;
  @include color($grey-3);
}

.post-comments-count {
  a {
    @include color($blue-1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }
}

.post-content {
  @include rem-fallback(margin-top, 17);
}

.post-body {
  @include rem-fallback(margin-top, 20);
}

.blog-page {
  .post {
    @include rem-fallback(margin-top, 43);

    &:first-child {
      margin-top: 0;
    }
  }
}

.post-page {
  .post-title {
    .editmode & {
      display: inline-block;
      min-width: 200px;
    }
  }
}
