/* COMMENTS */
.comments {
  padding: 25px 5px 0;
  @include border(top, 1px, solid, $primary-color, 0.33);

  .comments-title {
    @extend %bebas-neue;
    font-size: 30px;
  }

  .comment,
  .comment-form {
    margin-top: 30px;
  }

  .comment {
    padding-left: 20px;
    line-height: 1.5;
    @include border(left, 3px, solid, $black, 0.05);
  }

  .comment-body,
  .comment-info {
  }

  .comment-info {
    @include color($grey-3);
  }
}
