/* CONTENT */
.content {
  display: block;
  padding: 25px 5px 4px;

  .front-page & {
    padding: 0;
    text-align: center;

    .content-formatted {
      position: relative;
      min-width: 211px;
      padding: 19px 0 21px;

      &:empty {
        display: none;
      }
    }
  }

  @include query($tablet-2) {
    .container-inner {
      display: block;
    }
  }

  @include query($mobile-1) {
    .content {
      padding: 20 0;
    }
  }
}
