// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  @include hyphenate(true);

  .front-page & {
    @include color($white);
  }

  .light-background & {
    @include color($black);
  }

  // Resets the top margin for the first element and bottom margin for the last element in the content area (to prevent unwanted white-space at the beginning and the end of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-positionable-container-center-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .content-page & {
      @include color($secondary-color);
    }

    .light-background & {
      .front-page & {
        @include color($black);
      }
    }

    .dark-backgground & {
      .front-page & {
        @include color($black);
      }
    }
  }

  // Editable content area headings.
  h1 {
    @extend %bebas-neue-latin;
    font-size: 36px;

    html[lang=ru] & {
      @extend %bebas-neue-cyrillic;
    }

    @include query($large-1, 'min-width') {
      font-size: #{round(36 * $wide-view-multiplier)}px;
    }
  }

  h2 {
    font-size: 18px;

    @include query($large-1, 'min-width') {
      font-size: #{round(18 * $wide-view-multiplier)}px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;

    @include query($large-1, 'min-width') {
      font-size: #{round(16 * $wide-view-multiplier)}px;
    }
  }

  ul,
  ol {
    .front-page & {
      text-align: left;
    }
  }

  // Editable content area links.
  a {
    @include color($blue-1, 1);

    &:hover {
      @include color($blue-1, 0.8);
    }

    .front-page & {
      @include color($white);

      &:hover {
        @include color($white, 0.8);
      }
    }

    .light-background & {
      @include color($black);

      &:hover {
        @include color($black, 0.8);
      }
    }
  }

  // Sets the dynamic line-height for the text with custom font-size.
  span[style*="font-size"] {
    line-height: 1.7em;
  }

  // Disables hyphenation for the elements that shouldn't hyphenate.
  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  // Top and bottom margin for the elements that doesn't have the default margin.
  pre,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-positionable-container-center-block,
  .embed-container,
  .table-container,
  .editmode & table {
    margin-top: 20px;
    margin-bottom: 20px;

    @include query($large-1, 'min-width') {
      margin-top: #{round(20 * $wide-view-multiplier)}px;
      margin-bottom: #{round(20 * $wide-view-multiplier)}px;
    }
  }

  // Code blocks and preformatted content.
  pre,
  code {
    font-size: 14px;
    @include bg($grey-2);

    @include query($large-1, 'min-width') {
      font-size: #{round(14 * $wide-view-multiplier)}px;
    }
  }

  pre {
    overflow: auto;
    padding: 10px;

    code {
      display: inline;
      padding: 0;
      white-space: pre;
      line-height: inherit;
      background-color: transparent;
      @include word-wrap(normal);
    }
  }

  code {
    display: inline-block;
    padding: 5px;
    @include word-wrap(break-word);
  }

  blockquote {
    margin: 20px 40px;

    @include query($large-1, 'min-width') {
      margin: #{round(20 * $wide-view-multiplier)}px #{round(40 * $wide-view-multiplier)}px;
    }
  }

  // Embeddable iframe content.
  iframe {
    max-width: 100%;
    height: auto;
  }

    // Content area floating images
    .edy-positionable-container-left,
    .edy-positionable-container-right {
      width: 45%;
    }

    .edy-positionable-container-left {
      margin-right: 20px;

      @include query($large-1, 'min-width') {
        margin-right: #{round(20 * $wide-view-multiplier)}px;
      }
    }

    .edy-positionable-container-right {
      margin-left: 20px;

      @include query($large-1, 'min-width') {
        margin-left: #{round(20 * $wide-view-multiplier)}px;
      }
    }

  // Content area image title
  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 2px;
      font-size: 11px;
      content: attr(data-title);

      @include query($large-1, 'min-width') {
        padding: #{round(2 * $wide-view-multiplier)}px;
        font-size: #{round(11 * $wide-view-multiplier)}px;
      }
    }
  }

  // Styling rules for the site's editable content area tables.
  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;

    @include query($large-1, 'min-width') {
      margin-top: #{round(20 * $wide-view-multiplier)}px;
    }
  }

  // Content area tables
  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;

    @include query($large-1, 'min-width') {
      font-size: #{round(16 * $wide-view-multiplier)}px;
    }

    td {
      padding: 10px;
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);

      .light-background & {
        @include border(top, 1px, solid, $black);
        @include border(bottom, 1px, solid, $black);
      }

      @include query($large-1, 'min-width') {
        border-witdh: #{round(1 * $wide-view-multiplier)}px;
      }
    }
  }
}
