/* CONTENT */
.content {
  display: block;
  padding: 43px 5px;

  .front-page & {
    padding: 0;
    text-align: center;

    .content-formatted {
      &, .editmode & {
        position: relative;
        min-width: 211px;
        padding: 20 0;
        @include color($white);

        &:empty {
          display: none;
        }
      }
    }
  }

  @include query($tablet-2) {
    .container-inner {
      display: block;
    }
  }

  @include query($mobile-1) {
    .content {
      padding: 20 0;
    }
  }
}

.dark-background {
  &.front-page {
    .content {
      .content-formatted {
        @include border(top, 3px, solid, $white);
      }
    }
  }
}

.light-background {
  &.front-page {
    .content {
      .content-formatted {
        @include border(top, 3px, solid, $black);
      }
    }
  }
}
