/* CONTENT */
.content {
  display: block;
  padding: 25px 5px 4px;

  @include query($large-1, 'min-width') {
    padding: #{25 * $wide-view-multiplier}px #{5 * $wide-view-multiplier}px #{4 * $wide-view-multiplier}px;
  }

  .front-page & {
    padding: 0;
    text-align: center;

    .content-formatted {
      position: relative;
      min-width: 211px;
      padding: 19px 0 21px;

      @include border(top, 3px, solid, $white);

      @include query($large-1, 'min-width') {
        min-width: #{211 * $wide-view-multiplier}px;
        padding-bottom: #{19 * $wide-view-multiplier}px 0 #{21 * $wide-view-multiplier}px;
        border-width: #{3 * $wide-view-multiplier}px;
      }

      &:empty {
        display: none;
      }
    }
  }

  .light-background & {
  .content-formatted {
    border-color: $black;
  }
}

  @include query($tablet-2) {
    .container-inner {
      display: block;
    }
  }

  @include query($mobile-1) {
    .content {
      padding: 20 0;
    }
  }
}
