/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 140px;
  text-align: center;

  // &.static {
  //   position: static;
  // }

  .editmode & {
    bottom: 40px;
  }

  .wrap {
    display: table;
    width: 100%;
    max-width: 720px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
  }

  .wrap-inner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 42px;
    text-align: center;
  }

  .content-formatted,
  .voog-reference {
    display: inline-block;
    vertical-align: middle;
  }

  .content-formatted {
    min-width: 100px;
    margin: 0 auto;
    padding-right: 10px;
    text-align: center;
    font-size: 9px;

    &,
    .dark-background & {
      @include color($white, 0.33);

      a {
        @include color($white, 0.66);

        &:hover {
          @include color($white);
        }
      }
    }

    .light-background & {
      @include color($black, 0.66);

      a {
        @include color($black, 0.88);

        &:hover {
          @include color($black);
        }
      }
    }

    @include query($tablet-3) {
      display: block;
      padding: 0 20px;
    }
  }
}


.voog-reference {
  a {
    display: block;
    @include opacity(0.5);
    width: 35px;
    height: 8px;
    font-size: 0;
    background-size: cover;

    &, .dark-background & {
      .no-svg & {
        background-image: url('../images/ico-voog-white.png');
      }

      .svg & {
        background-image: url('../assets/ico-voog-white.svg');
      }
    }

    .light-background & {
      .no-svg & {
        background-image: url('../images/ico-voog-black.png');
      }

      .svg & {
        background-image: url('../assets/ico-voog-black.svg');
      }
    }

    &:hover {
      @include opacity(1);
    }
  }
}

@include query($large-1, 'min-width') {
  .voog-reference {
    a {
      width: 49px;
      height: 11.2px;
    }
  }
}

.footer-gradient {
  @include background-image(
    linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.5) 100%
      )
    );
}
