/* GALLERY */
// Styling rules for the built-in image gallery thumbnails.  These rules affect the entire site's image galleries.
// NB! It is not recommended to set the width and height of the thumbail image (.edys-gallery-image) larger than 100px because the generated thumbnail's original size is 100x100px.
.edys-gallery-area {
  @include rem-fallback(margin-top, 20);

  &:first-child {
    margin-top: 0;
  }

  .edys-gallery {
    @extend %clearfix;
    .edys-gallery-item {
      display: inline-block;
      @include rem-fallback(width, 90);
      @include rem-fallback(padding-bottom, 1);

      &:nth-child(7n+7) {
        padding-right: 0;
      }

      .edys-gallery-image {
        display: block;
        width: auto;
        height: auto;

        &.inactive {
          opacity: 0.6;
        }
      }
    }
  }
}

.edy-gallery-area {
  .editmode & {
    .edy-gallery-thumb {
      @include rem-fallback(width, 90);
      @include rem-fallback(height, 90);

      &:nth-child(8n+8) {
        margin-right: 0;
      }

      .edy-gallery-image {
        @include rem-fallback(width, 90);
        @include rem-fallback(height, 90);
      }
    }
  }
}
