/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html {
  &.editmode {
    height: 100% !important;
  }
}

body {
  @include display(flex);
  @include flex-direction(column);
  height: auto !important;
  min-height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  @include color($primary-color);
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;

  img {
    border: none;
  }
}

%bebas-neue {
  font-family: 'Bebas Neue';
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  @extend %button;
  position: absolute;
}

.background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  @include display(flex);
  @include flex(1 1 auto);
  @include align-items(center);
  @include justify-content(center);

  .wrap {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;

    &.static {
      margin-bottom: 0;
    }

    .content-page & {
      position: relative;
      max-width: 650px;
      @include bg($white);
    }
  }
}
