/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html,
body {
  height: 100% !important;

  .editmode & {
    height: calc(100% - 40px) !important;
    height: -webkit-calc(100% - 40px) !important;
  }
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  @include color($primary-color);
  background-size: cover;
  background-attachment: fixed;

  @include query($large-1, 'min-width') {
    font-size: #{14 * $wide-view-multiplier}px;
  }
}

a {
  text-decoration: none;

  img {
    border: none;
  }
}

%bebas-neue-latin {
  font-family: 'Bebas Neue Latin', 'Bebas Neue Cyrillic';
}

%bebas-neue-cyrillic {
  font-family: 'Bebas Neue Cyrillic', 'Bebas Neue Latin';
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  @extend %button;
  position: absolute;
}

.body-background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  position: relative;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;

  .no-flexbox & {
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  &.container-long {
    @include justify-content(flex-end);
    height: auto;

    .no-flexbox & {
      &,
      .container-inner {
        display: block;
      }
    }
  }

  .wrap {
    padding: 25px;

    @include query($large-1, 'min-width') {
      padding: #{25 * $wide-view-multiplier}px;
    }

    .content-page & {
      position: relative;
      z-index: 1;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      @include bg($white);

      @include query($large-1, 'min-width') {
        max-width: #{650 * $wide-view-multiplier}px;
      }
    }
  }
}

.container-inner {
  width: 100%;
  box-sizing: border-box;

  .no-flexbox & {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  .wrap {
    margin-top: 30px;

    @include query($large-1, 'min-width') {
      margin-top: #{30 * $wide-view-multiplier}px;
    }
  }
}
