/* HEADER */
.header {
  .content-page & {
    position: relative;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    @include border(bottom, 1px, solid, $primary-color, 0.33);

    @include query($large-1, 'min-width') {
      padding-right: #{5 * $wide-view-multiplier}px;
      padding-bottom: #{5 * $wide-view-multiplier}px;
      padding-left: #{5 * $wide-view-multiplier}px;
      border-width: 2px;
    }
  }
}

.header-top {
  .front-page & {
    text-align: center;
  }

  @include query($mobile-1) {
    .content-page & {
      min-height: 30px;
    }
  }
}

.header-top-inner {
  display: inline-block;
  max-width: 100%;

  .front-page & {
    @include border(bottom, 3px, solid, $white);

    @include query($large-1, 'min-width') {
      border-width: #{3 * $wide-view-multiplier}px;
    }
  }

  .light-background & {
    .front-page & {
      border-color: $black;
    }
  }

  .content-formatted {
    border-color: $white;

    .light-background & {
      border-color: $black;
    }
  }
}

.header-options {
  position: absolute;
  z-index: 1;
  right: 25px;
  width: 50%;
  text-align: right;

  @include query($large-1, 'min-width') {
    right: #{25 * $wide-view-multiplier}px;
  }

  .front-page & {
    top: 18px;

    @include query($large-1, 'min-width') {
      top: #{18 * $wide-view-multiplier}px;
    }
  }

  .content-page & {
    top: 25px;

    @include query($large-1, 'min-width') {
      top: #{25 * $wide-view-multiplier}px;
    }
  }

  @include query($mobile-1) {
    .front-page & {
      right: 16px;
    }
  }
}

.header-title {
  @extend %bebas-neue;
  max-width: 630px;
  min-width: 211px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;

  @include query($large-1, 'min-width') {
    max-width: #{630 * $wide-view-multiplier}px;
    min-width: #{211 * $wide-view-multiplier}px;
    font-size: #{30 * $wide-view-multiplier}px;
  }

  .front-page & {
    max-width: none;

    &,
    a {
      @include color($white);
    }

    a {
      &:hover {
        @include color($white, 0.8);
      }
    }

    a,
    .edy-editable,
    .public & {
      margin-bottom: 20px;

      @include query($large-1, 'min-width') {
        margin-bottom: #{20 * $wide-view-multiplier}px;
      }
    }
  }

  .light-background & {
    &,
    a {
      @include color($black);
    }

    a {
      &:hover {
        @include color($black, 0.8);
      }
    }
  }

  .front-page & {
    text-align: center;
    font-size: 60px;

    @include query($large-1, 'min-width') {
      font-size: #{60 * $wide-view-multiplier}px;
    }

    @include query($large-1, 'min-width') {
      font-size: #{60 * $wide-view-multiplier}px;
    }
  }

  .content-page & {
    &,
    a {
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }
}

.header-bottom {
  .front-page & {
    padding-top: 25px;

    @include query($large-1, 'min-width') {
  padding-top: #{25 * $wide-view-multiplier}px;
}
  }
}
