/* HEADER */
.header {
  .content-page & {
    position: relative;
    padding: 0 5px 20px;
    @include border(bottom, 1px, solid, $primary-color, 0.33);
  }
}

.header-top {
  .front-page & {
    text-align: center;
  }
  @include query($mobile-1) {
    .content-page & {
      min-height: 30px;
    }
  }
}

.header-top-inner {
  display: inline-block;
  max-width: 100%;

  .dark-background & {
    @include border(bottom, 3px, solid, $white);
  }

  .light-background & {
    @include border(bottom, 3px, solid, $black);
  }
}

.header-options {
  position: absolute;
  z-index: 1;
  right: 25px;
  width: 50%;
  text-align: right;

  .front-page & {
    top: 18px;
  }

  .content-page & {
    top: 25px;
  }

  @include query($mobile-1) {
    .front-page & {
      right: 16px;
    }
  }
}

.header-title {
  @extend %bebas-neue;
  max-width: 630px;
  min-width: 211px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;

  .front-page & {
    max-width: none;

    a,
    .edy-editable,
    .public & {
      margin-bottom: 20px;
    }
  }

  .front-page &,
  .front-page.dark-background & {
    &, a {
      @include color($white);
    }

    a {
      &:hover {
        @include color($white, 0.8);
      }
    }
  }

  .front-page.light-background & {

    &, a {
      @include color($black);
    }

    a {
      &:hover {
        @include color($black, 0.8);
      }
    }
  }

  .front-page & {
    text-align: center;
    font-size: 60px
  }

  .content-page & {
    &,
    a {
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }
}

.header-bottom {
  .front-page & {
    padding-top: 25px;
  }
}
