/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  @extend %button;
  display: none;

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    @include query($large-1, 'min-width') {
      width: #{23 * $wide-view-multiplier}px;
      height: #{4 * $wide-view-multiplier}px;
      margin: #{4 * $wide-view-multiplier}px 0;
    }

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  @include query($mobile-1) {
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 20;
    display: inline-block;
    padding: 0;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .front-page & {
      display: none;
    }
  }
}

// Tags toggle button
.tags-btn {
  @extend %button;
  @extend %bebas-neue-latin;
  width: 155px;
  height: 100%;
  padding: 0 20px;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  @include color($white);
  line-height: 1;

  html[lang=ru] & {
    @extend %bebas-neue-cyrillic;
  }

  @include query($large-1, 'min-width') {
    width: #{155 * $wide-view-multiplier}px;
    padding: 0 #{20 * $wide-view-multiplier}px;
    font-size: #{16 * $wide-view-multiplier}px;
  }

  &.open,
  &.open:hover {
    @include bg($black);
  }

  &:hover {
    @include bg($black, 0.2);
  }
}

// CMS menu add/edit button
.edit-btn {
  display: inline-block;
}

// General rules for all navigation menus.
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-main {
  @extend %bebas-neue-latin;

  html[lang=ru] & {
    @extend %bebas-neue-cyrillic;
  }

  &.narrow {
    max-width: 500px;

    @include query($large-1, 'min-width') {
      max-width: #{500 * $wide-view-multiplier}px;
    }
  }

  .front-page & {
    text-align: center;
  }

  .content-page .header & {
    @include query($mobile-1) {
      display: none;

      &.expanded {
        position: absolute;
        top: 50px;
        right: -25px;
        left: -25px;
        z-index: 10;
        display: block;
        margin-bottom: 40px;
        text-align: left;
        @include bg($white);

        @include query($large-1, 'min-width') {
          top: #{50  * $wide-view-multiplier}px;
          rigth: #{-25 * $wide-view-multiplier}px;
          left: #{-25 * $wide-view-multiplier}px;
          margin-bottom: #{40 * $wide-view-multiplier}px;
        }
      }
    }
  }

  .menu {
    .content-page {
      line-height: 1.3;
    }

    .menu-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;

      @include query($large-1, 'min-width') {
        margin-right: #{8 * $wide-view-multiplier}px;
      }
      .front-page & {
        margin-right: 15px;

        @include query($large-1, 'min-width') {
          margin-right: #{8 * $wide-view-multiplier}px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @include query($mobile-1) {
        &:first-child {
          .content-page & {
            @include border(top, 1px, solid, $primary-color, 0.33);
          }
        }

        .content-page & {
          display: block;
          margin-right: 0;
        }
      }

      .menu-link {
        .front-page & {
          font-size: 16px;
          @include color($white);

          @include query($large-1, 'min-width') {
            font-size: #{16 * $wide-view-multiplier}px;
          }

          &.untranslated {
            @include color($white, 0.5);
          }

          &.active,
          &:hover {
            @include color($white, 0.8);
          }
        }

        .light-background & {
          @include color($black);

          &.untranslated {
            @include color($black, 0.5);
          }

          &.active,
          &:hover {
            @include color($black, 0.8);
          }
        }

        .content-page & {
          font-size: 14px;
          @include color($primary-color);

          @include query($large-1, 'min-width') {
            font-size: #{14 * $wide-view-multiplier}px;
          }

          &.untranslated {
            @include color($primary-color, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($secondary-color);
          }
        }

        .topbar & {
          &.active,
          &.active:hover {
            @include color($white);
          }

          &:hover {
            @include color($white, 0.5);
          }
        }

        &:hover {
          @include color($secondary-color);
        }

        @include query($mobile-1) {
          .content-page & {
            display: block;
            padding: 7px 10px 4px;
            font-size: 20px;
            @include border(bottom, 1px, solid, $primary-color, 0.33);

            @include query($large-1, 'min-width') {
              padding: #{7 * $wide-view-multiplier}px #{10 * $wide-view-multiplier}px #{4 * $wide-view-multiplier}px;
              font-size: #{20 * $wide-view-multiplier}px;
            }
          }
        }
      }
    }

    .edit-btn {
      margin-right: 8px;
      margin-left: 8px;

      @include query($large-1, 'min-width') {
        position: relative;
        top: -2px;
        margin-right: #{8 * $wide-view-multiplier}px;
        margin-left: #{8 * $wide-view-multiplier}px;
      }

      @include query($mobile-1) {
        .content-page & {
          display: block;
          margin-left: 0;
          padding: 10px 25px;
          @include border(bottom, 1px, solid, $primary-color, 0.33);
        }
      }
    }
  }

  // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
  .menu-lang {
    display: none;

    .content-page & {
      @include query($mobile-1) {
        display: block;
        margin-left: 0;
        padding-left: 0;
        .menu {
          .menu-item {
            text-align: left;

            &:first-child {
              border-top: none;
            }

            .menu-link {
              padding: 11px 20px 8px 47px;

              &:before,
              &:after {
                top: 13px;
                left: 20px;
              }

              &.active,
              &.active:hover {
                font-weight: 600;
              }

              &.active,
              &:hover {
                background: none;
              }
            }
          }

          .edit-btn {
            padding: 12px 25px 13px;
          }
        }
      }
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub-wrap {
  @include border(bottom, 1px, solid, $primary-color, 0.33);

  @include query($large-1, 'min-width') {
    border-width: 2px;
  }
}

.menu-sub {
  padding: 15px 5px;

  @include query($large-1, 'min-width') {
    padding: #{15 * $wide-view-multiplier}px #{5 * $wide-view-multiplier}px;
  }

  .menu {
    .menu-item {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;

      @include query($large-1, 'min-width') {
        margin-right: #{10 * $wide-view-multiplier}px;
        font-size: #{14 * $wide-view-multiplier}px;
      }

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include color($primary-color);

        &.untranslated {
          @include color($secondary-color, 0.5);
        }

        &.active,
        &.active:hover {
          @include color($secondary-color);
        }

        &:hover {
          @include color($secondary-color);
        }
      }
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($mobile-1) {
    .content-page & {
      position: static;
    }
  }

  .content-page & {
    @include query($mobile-1) {
      display: none;
    }
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;

    @include query($large-1, 'min-width') {
      font-size: #{12 * $wide-view-multiplier}px;
    }

    .menu-link {
      position: relative;
      display: block;
      padding: 5px 39px 4px 12px;
      @include color($secondary-color, 0.67);

      @include query($large-1, 'min-width') {
        padding: 12px 65px 10px 24px;
      }

      &.active,
      &.active:hover {
        @include opacity(0.5);
        @include filter(grayscale(100%));
      }

      &:hover {
        @include opacity(0.75);
        @include filter(grayscale(50%));
      }

      &:before,
      &:after {
        top: 3px;
        right: 11px;

        @include query($large-1, 'min-width') {
          top: #{3 * $wide-view-multiplier}px;
          right: #{11 * $wide-view-multiplier}px;
        }
      }
    }
  }
}

.flags-disabled {
  .menu-item {
    .menu-link {
      padding: 5px 12px 4px;

      @include query($large-1, 'min-width') {
        padding: -378px -120px;
      }
    }
  }
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  padding: 0;
  font-size: inherit;
  @include color($secondary-color, 0.67);
  background: none;
  border: none;
  cursor: pointer;

  @include query($large-1, 'min-width') {
    height: 44px;
  }

  &:hover,
  &.open {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    top: 5px;
    left: 5px;

    @include query($large-1, 'min-width') {
      top: #{5 * $wide-view-multiplier}px;
      left: #{5 * $wide-view-multiplier}px;
    }
  }

  .front-page & {
    @include color($white);
  }

  .light-background & {
    @include color($black);
  }

  .flags-disabled & {
    .ico-popover-toggle {
      position: relative;
      top: -1px;
      display: inline-block;
      font-size: 7.2px;

      @include query($large-1, 'min-width') {
        top: #{-1 * $wide-view-multiplier}px;
        font-size: #{7.2 * $wide-view-multiplier}px;
      }
    }
  }

  &.open {
    .ico-popover-toggle {
      top: -3px;
      left: 1px;
      @include transform(rotate(180deg));
    }
  }

  .flags-enabled & {
    width: 31px;

    @include query($large-1, 'min-width') {
      width: 56px;
    }

    .lang-title,
    .ico-popover-toggle {
      display: none;
    }
  }

  // @include query($large-1, 'min-width') {
  //   width: 52px;
  //   height: 40px;
  // }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    @include query($large-1, 'min-width') {
      width: #{21 * 2}px;
      height: #{15 * 2}px;
    }
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    @include query($large-1, 'min-width') {
      background-size: 420px;
    }

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 28px;
    right: -6px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 121px;
    background: #fff;
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    z-index: 30;

    @include query($large-1, 'min-width') {
      top: 50px;
      right: #{-6 * $wide-view-multiplier}px;
      margin-bottom: #{40 * $wide-view-multiplier}px;
      padding: #{6 * $wide-view-multiplier}px 0;
      min-width: #{121 * $wide-view-multiplier}px;
    }

    .editmode & {
      padding-bottom: 0;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      .flags-disabled & {
        display: none;
      }
    }
  }

  .edit-btn {
    display: block;
    padding: 8px 18px 3px;
    text-align: right;

    @include query($large-1, 'min-width') {
      padding: #{8 * $wide-view-multiplier}px #{18 * $wide-view-multiplier}px #{3 * $wide-view-multiplier}px;
    }
  }
}

.lang-flag {
  &:after {
    background-position: -189px -60px;

    @include query($large-1, 'min-width') {
      background-position: #{-189 * 2}px #{-60 * 2}px;
    }
  }

  &:before,
  &:after {
    .flags-disabled & {
      display: none;
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq,   0,        0),
// Armenian (Armenia)
(hy,  -21px,    0),
// Bengali (Bangladesh)
(bn,  -42px,    0),
// Brazilian Portuguese (Brazil)
(xx,  -63px,    0),
// Bulgarian (Bulgaria)
(bg,  -84px,    0),
// Chinese (China)
(zh, -105px,    0),
// Croatian (Croatia)
(hr, -126px,    0),
// Danish (Denmark)
(da, -147px,    0),
// Czech (Czech Republic)
(cs, -168px,    0),
// Estonian (Estonia)
(et, -189px,    0),

// Finnish (Finland)
(fi,    0px, -15px),
// French (France)
(fr,  -21px, -15px),
// Georgian (Georgia)
(ka,  -42px, -15px),
// German (Germany)
(de,  -63px, -15px),
// Greek (Greece)
(el,  -84px, -15px),
// Hungarian (Hungary)
(hu, -105px, -15px),
// Icelandic (Iceland)
(is, -126px, -15px),
// Hindi (India)
(hi, -147px, -15px),
// Indonesian (Indonesia)
(id, -168px, -15px),
// Iranian (Iran)
(fa, -189px, -15px),

// Hebrew (Israel)
(he,    0px, -30px),
// Italian (Italy)
(it,  -21px, -30px),
// Japanese (Japan)
(ja,  -42px, -30px),
// Korean (Korea, South)
(ko,  -63px, -30px),
// Latvian (Latvia)
(lv,  -84px, -30px),
// Lithuanian (Lithuania)
(lt, -105px, -30px),
// Malaysian (Malaysia)
(ms, -126px, -30px),
// Dutch (Netherlands)
(nl, -147px, -30px),
// Norwegian (Norway)
(no, -168px, -30px),
// Urdu (Pakistan)
(ur, -189px, -30px),

// Filipino (Philippines)
(fil,   0px, -45px),
// Polish (Poland)
(pl,  -21px, -45px),
// Romanian (Romania)
(ro,  -42px, -45px),
// Russian (Russia)
(ru,  -63px, -45px),
// Arabic (Saudi Arabia)
(ar,  -84px, -45px),
// Slovakian (Slovakia)
(sk, -105px, -45px),
// Slovenian (Slovenia)
(sl, -126px, -45px),
// Spanish (Spain)
(es, -147px, -45px),
// Swedish (Sweden)
(sv, -168px, -45px),
// Turkish (Turkey)
(tr, -189px, -45px),

// Ukrainian (Ukraine)
(uk,    0px, -60px),
// American English (United States of America)
(en,  -21px, -60px),
// French (Ivory Coast)
(xx,  -42px, -60px),
// British English (Great Britian)
(xx,  -63px, -60px),
// Portuguese (Portuguese Republic)
(pt,  -84px, -60px),
// Canadian English (Canada)
(xx,  -105px, -60px),
// Serbian (Republic of Serbia)
(sr,  -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
(xx,  -147px, -60px),
// Australian English (Commonwealth of Australia)
(xx,  -168px, -60px),
;

@each $flag, $left, $top in $flags {
  .lang-flag-#{$flag}:after { background-position: #{$left} #{$top}; }
}

@include query($large-1, 'min-width') {
  @each $flag, $left, $top in $flags {
    .lang-flag-#{$flag}:after { background-position: #{$left*2} #{$top*2}; }
  }
}

.lang-options {
  @include bg($black, 0.09);

  .menu {
    .menu-item {
      margin-top: 8px;
      padding: 7px 12px;
      font-size: 13px;

      @include query($large-1, 'min-width') {
        margin-top: #{8 * $wide-view-multiplier}px;
        padding: #{7 * $wide-view-multiplier}px #{12 * $wide-view-multiplier}px;
        font-size: #{13 * $wide-view-multiplier}px;
      }
    }
  }
}

.option-btn {
  @extend %button;
  font-family: inherit;
  font-size: inherit;
  @include color($blue-1);

  &:hover {
    @include color($blue-1, 0.8);
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags-editor {
  padding: 15px 5px;

  @include query($large-1, 'min-width') {
    padding: #{15 * $wide-view-multiplier}px #{5 * $wide-view-multiplier}px;
  }
}

.tags {
  @include border(bottom, 1px, solid, $primary-color, 0.33);

  @include query($large-1, 'min-width') {
    border-width: 2px;
  }

  .topbar & {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    z-index: 1;
    text-align: right;
    border: none;

    @include query($large-1, 'min-width') {
      right: #{5 * $wide-view-multiplier}px;
    }
  }
}

.tags-title {
  font-weight: 700;
}

.menu-tags {
  display: inline-block;
  .topbar & {
    display: none;

    &.expanded {
      display: block;
      padding-bottom: 30px;
      text-align: right;
      @include bg($black);

      @include query($large-1, 'min-width') {
        padding-bottom: #{30 * $wide-view-multiplier}px;
      }

      .menu-item {
        display: block;

        .menu-link {
          display: block;
          padding: 3px 20px;
          font-size: 12px;
          @include color($primary-color);

          @include query($large-1, 'min-width') {
            padding: #{3 * $wide-view-multiplier}px #{20 * $wide-view-multiplier}px;
            font-size: #{12 * $wide-view-multiplier}px;
          }

          &.active,
          &.active:hover {
            font-weight: 600;
          }

          &.active,
          &:hover {
            @include color($white);
          }
        }
      }
    }
  }
}
