/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  @extend %button;
  display: none;

  .menu-stripe {
    display: block;
    @include rem-fallback(width, 23);
    @include rem-fallback(height, 4);
    @include rem-fallback(margin, 4, 0);
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  @include query($mobile-1) {
    position: absolute;
    @include rem-fallback(top, 2);
    @include rem-fallback(right, 5);
    z-index: 20;
    display: inline-block;
    padding: 0;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .front-page & {
      display: none;
    }
  }
}

// Tags toggle button
.tags-btn {
  @extend %button;
  @include rem-fallback(width, 155);
  height: 100%;
  @include rem-fallback(padding, 0, 20);
  font-family: 'Bebas Neue';
  font-weight: normal;
  @include rem-fallback(font-size, 16);
  text-align: right;
  @include color($white);
  line-height: 1;

  &.open,
  &.open:hover {
    @include bg($black);
  }

  &:hover {
    @include bg($black, 0.2);
  }
}

// CMS menu add/edit button
.edit-btn {
  display: inline-block;
}

// General rules for all navigation menus.
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-main {
  @extend %bebas-neue;

  &.narrow {
    @include rem-fallback(max-width, 500);
  }

  .front-page & {
    text-align: center;
  }

  .content-page .header & {
    @include query($mobile-1) {
      display: none;

      &.expanded {
        position: absolute;
        @include rem-fallback(top, 50);
        @include rem-fallback(left, -25);
        @include rem-fallback(right, -25);
        z-index: 10;
        display: block;
        @include rem-fallback(margin-bottom, 40);
        text-align: left;
        @include bg($white);
      }
    }
  }

  .menu {
    .content-page {
      line-height: 1.3;
    }

    .menu-item {
      display: inline-block;
      vertical-align: middle;
      @include rem-fallback(margin-right, 8);

      .front-page & {
        @include rem-fallback(margin-right, 15);
      }

      &:last-child {
        margin-right: 0;
      }

      @include query($mobile-1) {
        &:first-child {
          @include border(top, 1px, solid, $primary-color, 0.33);
          @include rem-fallback(border-top-width, 1);
        }

        .content-page & {
          display: block;
          margin-right: 0;
        }
      }

      .menu-link {
        .front-page &,
        .front-page.dark-background & {
          @include color($white);

          &.untranslated {
            @include color($white, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($white, 0.8);
          }
        }

        .front-page.light-background & {
          @include color($black);

          &.untranslated {
            @include color($black, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($black, 0.8);
          }
        }
        .front-page & {
          @include rem-fallback(font-size, 16);
        }

        .content-page & {
          @include rem-fallback(font-size, 14);
          @include color($primary-color);

          &.untranslated {
            @include color($primary-color, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($secondary-color);
          }
        }

        .topbar & {
          &.active,
          &.active:hover {
            @include color($white);
          }

          &:hover {
            @include color($white, 0.5);
          }
        }

        &:hover {
          @include color($secondary-color);
        }

        @include query($mobile-1) {
          .content-page & {
            display: block;
            @include rem-fallback(padding, 7, 10, 4);
            @include rem-fallback(font-size, 20);
            @include border(bottom, 1px, solid, $primary-color, 0.33);
            @include rem-fallback(border-bottom-width, 1);
          }
        }
      }
    }

    .edit-btn {
      @include rem-fallback(margin-left, 8);

      @include query($mobile-1) {
        .content-page & {
          display: block;
          margin-left: 0;
          @include rem-fallback(padding, 10, 25);
          @include border(bottom, 1px, solid, $primary-color, 0.33);
          @include rem-fallback(border-bottom-width, 1);
        }
      }
    }
  }

  // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
  .menu-lang {
    display: none;

    .content-page & {
      @include query($mobile-1) {
        display: block;
        margin-left: 0;
        padding-left: 0;
        .menu {
          .menu-item {
            text-align: left;

            &:first-child {
              border-top: none;
            }

            .menu-link {
              @include rem-fallback(padding, 10, 20, 9, 47);

              &:before,
              &:after {
                @include rem-fallback(top, 13);
                @include rem-fallback(left, 20);
              }

              &.active,
              &.active:hover {
                font-weight: 600;
              }

              &.active,
              &:hover {
                background: none;
              }
            }
          }

          .edit-btn {
            @include rem-fallback(padding, 12, 25, 13);
          }
        }
      }
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub-wrap {
  @include border(bottom, 1px, solid, $primary-color, 0.33);
  @include rem-fallback(border-bottom-width, 1);
}

.menu-sub {
  @include rem-fallback(padding, 15, 5);

  .menu {
    .menu-item {
      display: inline-block;
      @include rem-fallback(margin-right, 10);
      @include rem-fallback(font-size, 14);

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include color($primary-color);

        &.untranslated {
          @include color($secondary-color, 0.5);
        }

        &.active,
        &.active:hover {
          @include color($secondary-color);
        }

        &:hover {
          @include color($secondary-color);
        }
      }
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($mobile-1) {
    .content-page & {
      position: static;
    }
  }

  .content-page & {
    @include query($mobile-1) {
      display: none;
    }
  }

  .menu-item {
    display: list-item;
    text-align: right;
    @include rem-fallback(font-size, 12);

    .menu-link {
      position: relative;
      display: block;
      @include rem-fallback(padding, 4, 39, 4, 12);
      @include color($secondary-color, 0.67);

      &.active,
      &.active:hover {
        @include opacity(0.5);
        @include filter(grayscale(100%));
      }

      &:hover {
        @include opacity(0.75);
        @include filter(grayscale(50%));
      }

      &:before,
      &:after {
        @include rem-fallback(top, 3);
        @include rem-fallback(right, 11);
      }
    }
  }
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  @include rem-fallback(width, 30);
  @include rem-fallback(height, 25);
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    @include rem-fallback(top, 6);
    @include rem-fallback(left, 5);
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    @include rem-fallback(width, 20A);
    @include rem-fallback(height, 13);
    content: '';
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-size: 200px;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');

      @include query($large-1, 'min-width') {
        background-size: 280px;
        background-image: url('../assets/ico-flags-large.svg');
      }
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    @include rem-fallback(top, 28);
    @include rem-fallback(right, -6);
    display: block;
    @include rem-fallback(margin-bottom, 40);
    @include rem-fallback(padding, 6, 0);
    @include rem-fallback(min-width, 121);
    background: #fff;
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    @include box-shadow(0, 0.5rem, 2.5rem, rgba($black, 0.3));
    z-index: 30;
  }

  .edit-btn {
    display: block;
    @include rem-fallback(padding, 8, 18, 3);
    text-align: right;
  }
}

// Language flag icons positioning in the spritemap.
$flags:
(sq,   0 ,     0),
(hy,  -20,     0),
(bn,  -40,     0),
(pt,  -60,     0),
(bg,  -80,     0),
(zh, -100,     0),
(hr, -120,     0),
(da, -140,     0),
(cs, -160,     0),
(et, -180,     0),

(fi,    0, -14),
(fr,  -20, -14),
(ka,  -40, -14),
(de,  -60, -14),
(el,  -80, -14),
(hu, -100, -14),
(is, -120, -14),
(hi, -140, -14),
(id, -160, -14),
(fa, -180, -14),

(he,    0, -28),
(it,  -20, -28),
(ja,  -40, -28),
(ko,  -60, -28),
(lv,  -80, -28),
(lt, -100, -28),
(ms, -120, -28),
(nl, -140, -28),
(no, -160, -28),
(ur, -180, -28),

(fil,   0, -42),
(pl,  -20, -42),
(ro,  -40, -42),
(ru,  -60, -42),
(ar,  -80, -42),
(lt, -100, -42),
(sk, -120, -42),
(es, -140, -42),
(sv, -160, -42),
(tr, -180, -42),

(uk,    0, -56),
(en,  -20, -56)
;

@each $flag, $left, $top in $flags {
  .lang-flag-#{$flag}:after { background-position: #{$left}px #{$top}px; }

  // .lang-flag-#{$flag}:after { background-position: #{$left / 10}rem #{$top / 10}rem; }
}

@include query($large-1, 'min-width') {
  @each $flag, $left, $top in $flags {
    .lang-flag-#{$flag}:after { background-position: #{$left + $left * 0.4}px #{$top + $top * 0.4}px; }
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags-editor {
  @include rem-fallback(padding, 15, 5);
}

.tags {
  @include border(bottom, 1px, solid, $primary-color, 0.33);
  @include rem-fallback(border-bottom-width, 1);

  .topbar & {
    position: absolute;
    top: 0;
    @include rem-fallback(right, 5);
    bottom: 0;
    z-index: 1;
    text-align: right;
    border: none;
  }
}

.tags-title {
  font-weight: 700;
}

.menu-tags {
  display: inline-block;
  .topbar & {
    display: none;

    &.expanded {
      display: block;
      @include rem-fallback(padding-bottom, 30);
      text-align: right;
      @include bg($black);

      .menu-item {
        display: block;

        .menu-link {
          display: block;
          @include rem-fallback(padding, 3, 20);
          @include rem-fallback(font-size, 12);
          @include color($primary-color);

          &.active,
          &.active:hover {
            font-weight: 600;
          }

          &.active,
          &:hover {
            @include color($white);
          }
        }
      }
    }
  }
}
