/* TOPBAR */
.topbar {
  position: fixed;
  @include rem-fallback(top, -200);
  left: 0;
  right: 0;
  z-index: 1;
  @include bg($secondary-color);
  @include transition (top 0.2s 0.2s);
  @include perspective;

  .wrap {
    position: relative;
    display: block;
    @include rem-fallback(max-width, 650);
    margin: 0 auto;
    @include rem-fallback(padding, 12, 30);

    .container-inner & {
      background: none;
    }
  }

  // TODO: Add topbar support to mobile devices.
  @include query($tablet-1) {
    display: none;
  }
}
