/* IE8 FALLBACKS */
@import '../../bower_components/bourbon/dist/bourbon';
@import '_mixins';

// MENUS
.menu-lang-btn {
  &:before,
  &:after {
    margin-top: -6px;
    margin-left: -1px;
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  .no-svg &:after {
    background-image: url('../images/ico-flags-small.png');
  }
}

// GENERAL
.background-color {
  -ms-filter: "alpha(opacity=50)";
}

// HEADER

// TOPBAR

// SIDEBAR

// CONTENT

// FRONT PAGE

// COMMON PAGE

// BLOG & ARTICLE

// GALLERY

// TABLES

// SEARCH

// FORMS

// COMMENTS

// FOOTER
