/* BLOG & BLOG ARTICLE */
.post-title,
.post-title a,
.post-date {
  @extend %bebas-neue;
  font-size: 36px;
}

.post-title {
  display: inline;
  margin: 0 10px 0 0;
  word-break: break-all;
  font-weight: normal;

  &, a {
    @include color($secondary-color);
  }

  a {
    &:hover {
      @include color($secondary-color, 0.8);
    }
  }
}

.post-date {
  @extend %bebas-neue;
  @include color($grey-3);
}

.post-comments-count {
  a {
    @include color($blue-1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }
}

.post-content {
  margin-top: 17px;
}

.post-body {
  margin-top: 20px;
}

.blog-page {
  .post {
    margin-top: 43px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.post-page {
  .post-title {
    .editmode & {
      display: inline-block;
      min-width: 200px;
    }
  }
}
