/* COMMON PAGE */
.common-page {
  background-image: url('../images/common-page-bg.jpg');

  .wrap-inner {
    @extend %content-bg;
  }

  .content {
    max-width: 720px;
    padding: 43px 5px;
  }
}
