// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, iframe, table, form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  // Styling rules for the editable content area headings and paragraphs.
  h1, h2, h3, h4, h5, h6 {
    @include color($secondary-color);
  }

  h1 {
    @extend %bebas-neue;
    @include rem-fallback(margin-top, 25);
    @include rem-fallback(font-size, 36);
    line-height: 1;
  }

  h2 {
    @include rem-fallback(margin-top, 16);
    @include rem-fallback(font-size, 18);
  }

  h3, h4, h5, h6 {
    @include rem-fallback(margin-top, 20);
    @include rem-fallback(font-size, 16);
  }

  p {
    @include rem-fallback(margin-top, 20);
  }

  // Styling rules for the editable content area lists and links.
  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($blue-1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  pre {
    @include rem-fallback(margin-top, 10);
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      @include rem-fallback(padding, 10);
      @include rem-fallback(font-size, 14);
      @include bg($grey-2);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  blockquote {
    @include rem-fallback(margin, 20, 40);
  }

  .edy-texteditor-container {
    &.edy-positionable-container-left,
    &.edy-positionable-container-right {
      width: 45%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    &.edy-positionable-container-left {
      margin-right: 6%;
    }

    &.edy-positionable-container-right {
      margin-left: 6%;
    }

    &.edy-positionable-container-left,
    &.edy-positionable-container-right {
      @include query($mobile-1) {
        float: none;
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  // Styling rules for the site's editable content area tables.
  // Container around editable content-area table.
  .table-container {
    @include rem-fallback(margin-top, 20);
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left,1px,dashed,$third-color);
    @include border(right,1px,dashed,$third-color);
  }

  table {
    width: 100%;
    @include rem-fallback(margin-top, 20);
    @include rem-fallback(font-size, 16);
    border-collapse: collapse;

    td {
      @include rem-fallback(padding, 10);
      @include border(top,1px,solid,$third-color);
      @include border(bottom,1px,solid,$third-color);
    }
  }

  // CMS STYLE OVERRIDES
  // Minimal height of the editable content area (to avoid content area visual 'jumping' when content-area is focused).
  .front-page.dark-background & {
    & .placeholder {
      @include color($white, 0.5);
    }
  }

  // Draggable content area without content.
  // TODO: Remove if different color schemes are supported by E3.
  .dark-background .footer & {
    .edy-empty-bordered {
      @include border(all, 1px, dashed, $white, 0.63);
      @include rem-fallback(border-width, 1);

      .edy-empty-header {
        @include color($white, 0.63);
      }
    }

    // Content area border.
    .edy-content-element-hover {
      @include border(all, 1px, solid, $white, 0.2);
      @include rem-fallback(border-width, 1);
    }

    .edy-texteditor-active {
      outline: 1px solid rgba($white, 0.4);

      &:hover {
        outline: 1px solid rgba($white, 0.63)
      }
    }
  }

  // Space between editable content areas in editmode.
  .edy-content-element {
    @include rem-fallback(margin-top, 20);

    &:first-child {
      margin-top: 0;
    }
  }

  // Minimum height of the text content areas.
  .edy-texteditor-view {
    @include rem-fallback(min-height, 19);

    .footer & {
      @include rem-fallback(min-height, 12);
    }
  }
}
