/* CONTENT */
.content {
  display: block;
  padding: 43px 5px;

  @include query($tablet-2) {
    .container-inner {
      display: block;
    }
  }

  @include query($mobile-1) {
    .content {
      padding: 20px 0;
    }
  }
}
