/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .wrap {
    display: table;
    width: 100%;
    @include rem-fallback(max-width, 720);
    @include rem-fallback(height, 100);
    margin: 0 auto;
    padding: 0;
  }

  .wrap-inner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 42px;
    text-align: center;
  }

  .content-formatted,
  .voog-reference {
    display: inline-block;
  }

  .content-formatted {
    @include rem-fallback(max-width, 590);
    @include rem-fallback(min-width, 100);
    margin: 0 auto;
    @include rem-fallback(padding-right, 10);
    text-align: center;
    @include rem-fallback(font-size, 9);

    &,
    .dark-background & {
      @include color($white, 0.33);

      a {
        @include color($white, 0.66);

        &:hover {
          @include color($white);
        }
      }
    }

    .light-background & {
      @include color($black, 0.66);

      a {
        @include color($black, 0.88);

        &:hover {
          @include color($black);
        }
      }
    }
  }

  .voog-reference {
    a {
      display: block;
      @include opacity(0.5);
      @include rem-fallback(width, 35);
      @include rem-fallback(height, 8);
      font-size: 0;

      &, .dark-background & {
        .no-svg & {
          background-image: url('../images/ico-voog-white.png');
        }

        .svg & {
          background-image: url('../assets/ico-voog-white.svg');
        }
      }

      .light-background & {
        .no-svg & {
          background-image: url('../images/ico-voog-black.png');
        }

        .svg & {
          background-image: url('../assets/ico-voog-black.svg');
        }
      }

      &:hover {
        @include opacity(1);
      }
    }
  }
}

.footer-gradient {
  @include background-image(
    linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0.5) 100%
    )
  );
}
