/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .wrap {
    display: table;
    width: 100%;
    max-width: 720px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
  }

  .wrap-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .content-formatted,
  .voog-reference {
    display: inline-block;
  }

  .content-formatted {
    max-width: 590px;
    min-width: 100px;
    margin: 0 auto;
    padding-right: 10px;
    text-align: center;
    font-size: 9px;

    &,
    .dark-background & {
      @include color($white, 0.33);

      a {
        @include color($white, 0.66);

        &:hover {
          @include color($white);
        }
      }
    }

    .light-background & {
      @include color($black, 0.66);

      a {
        @include color($black, 0.88);

        &:hover {
          @include color($black);
        }
      }
    }
  }

  .voog-reference {
    a {
      display: block;
      @include opacity(0.5);
      width: 35px;
      height: 8px;
      font-size: 0;

      &, .dark-background & {
        .no-svg & {
          background-image: url('../images/ico-voog-white.png');
        }

        .svg & {
          background-image: url('../assets/ico-voog-white.svg');
        }
      }

      .light-background & {
        .no-svg & {
          background-image: url('../images/ico-voog-black.png');
        }

        .svg & {
          background-image: url('../assets/ico-voog-black.svg');
        }
      }

      &:hover {
        @include opacity(1);
      }
    }
  }
}

.footer-gradient {
  @include background-image(linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.33) 23%,
    rgba(0, 0, 0, 0.81) 78%,
    rgba(0, 0, 0, 0.88) 89%,
    rgba(0, 0, 0, 0.91) 98%,
    rgba(0, 0, 0, 0.95) 99%,
    rgba(0, 0, 0, 0.88) 100%)
  );
}
