/* FOOTER */
.footer {
  .content-formatted {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    font-size: 9px;
    @include color($white,.33);
    & a {
      text-decoration: none;
      @include color($white,.66);
      &:hover {
        @include color($white,.99);
      }
    }
  }
}
