/* GALLERY */
.edys-gallery-area {
  margin-top: 19px;
  &:first-child {
    margin-top: 0;
  }
}
.edys-gallery {
  overflow: hidden;
  margin-bottom: 40px;
  &:hover .edys-gallery-image {
    opacity: .6;
  }
  .edys-gallery-image {
    display: block;
    width: 109px;
    max-width: 109px;
    margin-bottom: 0;
    &:hover {
      opacity: 1;
    }
  }
}
.edys-gallery-item {
  display: block;
  float: left;
  padding-right: 0 !important;
}
.content-formatted {
  .edys-gallery-item:hover {
    opacity: 1;
  }
}
