/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html,
body {
  height: 100% !important;
}

.editmode {
  &, body {
    height: 50% !important;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  @include color($primary-color);
}

%bebas-neue {
  font-family: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  position: relative;
  min-height: 100%;

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.container-middle {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;

  .front-page & {
    max-width: 450px;
  }

  .content-page & {
    max-width: 720px;
  }
}

.container-inner {
  display: table-cell;
  vertical-align: middle;
}

.wrap {
  padding: 25px;

  .content-page .container-inner & {
    @include bg($white);
  }
}
