/* GENERAL */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  @include color($primary-color);
}

.stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  height: 100%;
  a {
    text-decoration: none;
    img {
      border: none;
    }
  }
  .wrap {
    display: table;
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    @include box-sizing(border-box);
  }
}

.wrap-middle {
  display: table-cell;
  vertical-align: middle;
}

.wrap-inner {
  padding: 25px;
  @include bg($white);
}

.content-formatted {
  @include clearfix;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
  }

  h1,
  h2,
  p {
    margin-top: 25px;
    margin-bottom: 0;
  }
  h1 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
  }
  a {
    @include color($blue,1);
    &:hover {
      @include color($blue,.8);
    }
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  pre {
    overflow: auto;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    @include bg($secondary-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img,
  pre,
  table {
    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
