/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html,
body {
  height: 100% !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  @include color($primary-color);

  -webkit-overflow-scrolling: touch;

  .content-page & {
    @include query($tablet-2) {
      background: none !important;
    }
  }
}

// // Layout specific body classes.
// .front-page {
//   background: url('../photos/front-page-bg.jpg') no-repeat center center fixed;
// }

// .common-page {
//   background: url('../photos/common-page-bg.jpg') no-repeat center center fixed;
// }

// .blog-page,
// .post-page {
//   background: url('../photos/blog-page-bg.jpg') no-repeat center center fixed;
// }

.blog-page {
}

.post-page {
}

%bebas-neue {
  font-family: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%static {
  position: static;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  height: 100%;

  .editmode & {
    @include calc(height, ('100% - 40px'));
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.container-inner {
  height: 100%;
  margin: 0 auto;

  .front-page & {
    max-width: 450px;
  }

  .content-page & {
    max-width: 720px;
  }

  .no-flexbox & {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .flexbox & {
    @include flexbox;
    @include flex-direction(column);
    @include align-content(center);
    @include justify-content(center);
  }

  .static & {
    display: block;
    height: auto;
  }

  @include query($mobile-1) {
    .content-page & {
      .no-flexbox &,
      .flexbox & {
        display: block;
      }
    }
  }
}

.wrap {
  .no-flexbox & {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
  }

  @include query($mobile-1) {
    .no-flexbox &,
    .flexbox & {
      display: block;
      width: auto;
    }
  }
}

.wrap-inner {
  margin: 0 auto;
  padding: 25px;
  @include box-sizing(border-box);

  .front-page & {
    max-width: 460px;
  }

  .content-page & {
    max-width: 720px;
    @include bg($white);
  }

  @include query($mobile-1) {
    padding: 20px;
  }
}
