/* HEADER */
.header {
  .content-page & {
    position: relative;
    @include rem-fallback(padding, 0, 5,20);
    @include border(bottom, 1px, solid, $primary-color, 0.33);
    @include rem-fallback(border-bottom-width, 1);
  }

  .static & {
    @include rem-fallback(padding-top, 55);
  }
}

.header-top {
  .front-page & {
    text-align: center;
  }
  @include query($mobile-1) {
    .content-page & {
      @include rem-fallback(min-height, 30);
    }
  }
}

.header-options {
  position: absolute;
  @include rem-fallback(right, 25);
  width: 50%;
  text-align: right;

  .front-page & {
    @include rem-fallback(top, 18);
  }

  .content-page & {
    @include rem-fallback(top, 25);
  }

  @include query($mobile-1) {
    .front-page & {
      @include rem-fallback(right, 16);
    }
  }
}

.header-title {
  @extend %bebas-neue;
  @include rem-fallback(max-width, 630);
  @include rem-fallback(min-width, 50);
  font-weight: 400;
  @include rem-fallback(font-size, 30);
  line-height: 1;

  .front-page & {
    display: inline-block;
    @include rem-fallback(max-width, 400);
    @include rem-fallback(padding-bottom, 20);
  }

  .front-page &,
  .front-page.dark-background & {
    @include border(bottom, 3px, solid, $white);
    @include rem-fallback(border-bottom-width, 3);

    &, a {
      @include color($white);
    }

    a {
      &:hover {
        @include color($white, 0.8);
      }
    }
  }

  .front-page.light-background & {
    @include border(bottom, 3px, solid, $black);
    @include rem-fallback(border-bottom-width, 3);

    &, a {
      @include color($black);
    }

    a {
      &:hover {
        @include color($black, 0.8);
      }
    }
  }

  .front-page & {
    text-align: center;
    @include rem-fallback(font-size, 60);
  }

  .content-page & {
    &,
    a {
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }
}

.header-bottom {
  .front-page & {
    @include rem-fallback(padding-top, 25);
  }
}
