/* HEADER */
.header {
  .content-page & {
    position: relative;
    padding: 0 5px 20px;
    @include border(bottom, 1px, solid, $primary-color, 0.33);
  }

  .static & {
    padding-top: 55px;
  }
}

.header-top {
  .front-page & {
    text-align: center;
  }
  @include query($mobile-1) {
    .content-page & {
      min-height: 30px;
    }
  }
}

.header-options {
  position: absolute;
  top: 25px;
  width: 50%;
  text-align: right;

  .front-page & {
    right: 30px;
  }

  .content-page & {
    top: 0;
    right: 0;
  }
}

.header-title {
  @extend %bebas-neue;
  max-width: 630px;
  min-width: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;

  .front-page & {
    display: inline-block;
    max-width: 400px;
    padding-bottom: 20px;
  }

  .front-page &,
  .front-page.dark-background & {
    @include border(bottom, 3px, solid, $white);

    &, a {
      @include color($white);
    }

    a {
      &:hover {
        @include color($white, 0.8);
      }
    }
  }

  .light-background.front-page & {
    @include border(bottom, 2px, solid, $black);

    &, a {
      @include color($black);
    }

    a {
      &:hover {
        @include color($black, 0.8);
      }
    }
  }

  .front-page & {
    text-align: center;
    font-size: 60px;
  }

  .content-page & {
    &,
    a {
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }
}

.header-bottom {
  .front-page & {
    padding-top: 25px;
  }
}
