/* MENUS */
.menu-btn {
  display: none;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline;
    font-size: 16px;
  }
}

.main-menu {
  font-family: "Bebas Neue";
  li {
    margin-left: 13px;
    &:first-child {
      margin-left: 0;
    }
    a {
      @include color($primary-color);
      &.untranslated {
        @include color($red);
      }
    }
  }
  .mobile-lang-menu {
    display: none;
  }
}

.tags-menu {
  display: none;
  padding-bottom: 30px;
  text-align: right;
  @include bg($black);
  &.expanded {
    display: block;
  }
  li {
    display: block;
    a {
      display: block;
      padding: 3px 19px 3px 0;
      font-size: 12px;
      @include color($primary-color);
    }
    & a:hover,
    &.active a,
    &.active a:hover {
      @include color($white);
    }
  }
}

.lang-menu-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 13px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    // TODO: Hover effect
  }
  &:after {
    top: 0;
    left: 0;
  }
}
.lang-menu-btn:after,
.lang-menu li a.lang-flag:after{
  position: absolute;
  display: block;
  width: 20px;
  height: 13px;
  content: '';
  background-image: url('../images/flag-sprite.png');
  background-repeat: no-repeat;
}

.lang-menu-popover {
  display: none;
  &.expanded {
    position: absolute;
    top: 25px;
    right: -12px;
    display: block;
    padding: 6px 0;
    min-width: 121px;
    @include bg($white);
    @include box-shadow(0, 0, 1px, rgba($black,.3));
    z-index: 1;
  }
}

.lang-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  line-height: 1.1;
  li {
    display: list-item;
    text-align: right;
    font-size: 12px;
  }
  li {
    a {
      position: relative;
      display: block;
      padding: 5px 40px 3px 13px;
      @include color($secondary-color);
    }
    & a:hover,
    &.active a,
    &.active a:hover {
      @include color($white);
      @include bg($secondary-color);
    }
    & a:after {
      top: 4px;
      right: 11px;
    }
    &.add-lang-btn {
      margin-top: 5px;
      margin-right: 10px;
      text-align: right;
    }
    .edy-menu-langadd {
      margin-left: 5px;
    }
  }
}

.sq:after {
  background-position: 0 0; // Albanian
}
.hy:after {
  background-position: -20px 0; // Armenia
}
.bn:after {
  background-position: -40px 0; // Bangladesh
}
.pt:after {
  background-position: -60px 0; // Brazil
}
.bg:after {
  background-position: -80px 0; // Bulgaria
}
.zh:after {
  background-position: -100px 0; // China
}
.hr:after {
  background-position: -120px 0; // Croatia
}
.da:after {
  background-position: -140px 0; // Denmark
}
.cs:after {
  background-position: -160px 0; // Czech  Republic
}
.et:after {
  background-position: -180px 0; // Estonia
}

.fi:after {
  background-position: 0 -14px; // Finland
}
.fr:after {
  background-position: -20px -14px; // France
}
.ka:after {
  background-position: -40px -14px; // Georgia
}
.de:after {
  background-position: -60px -14px; // Germany
}
.el:after {
  background-position: -80px -14px; // Grecee
}
.hu:after {
  background-position: -100px -14px; // Hungary
}
.is:after {
  background-position: -120px -14px; // Iceland
}
.hi:after {
  background-position: -140px -14px; // India
}
.id:after {
  background-position: -160px -14px; // Indonesia
}
.fa:after {
  background-position: -280px -14px; // Iran
}

.he:after {
  background-position: 0 -27px; // Israel
}
.it:after {
  background-position: -20px -27px; // Italy
}
.ja:after {
  background-position: -40px -27px; // Japan
}
.ko:after {
  background-position: -60px -27px; // Korea, South
}
.lv:after {
  background-position: -80px -27px; // Latvia
}
.lt:after {
  background-position: -100px -27px; // Lithuania
}
.ms:after {
  background-position: -120px -27px; // Malaysia
}
.nl:after {
  background-position: -140px -27px; // Netherlands
}
.no:after {
  background-position: -160px -27px; // Norway
}
.ur:after {
  background-position: -280px -27px; // Pakistan
}

.fil:after {
  background-position: 0 -41px; // hilipines
}
.pl:after {
  background-position: -20px -41px; // Poland
}
.ro:after {
  background-position: -40px -41px; // Romania
}
.ru:after {
  background-position: -60px -41px; // Russia
}
.ar:after {
  background-position: -80px -41px; // Saudi  Arabia
}
.lt:after {
  background-position: -100px -41px; // Slovakia
}
.sk:after {
  background-position: -120px -41px; // Slovenia
}
.es:after {
  background-position: -140px -41px; // Spain
}
.sv:after {
  background-position: -160px -41px; // Sweden
}
.tr:after {
  background-position: -180px -41px; // Turkey
}

.uk:after {
  background-position: 0px -54px; // Ukraine
}
.en:after {
  background-position: -20px -54px; // USA
}
