/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  @extend %button;
  display: none;

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  @include query($mobile-1) {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
    display: inline-block;
    padding: 0;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .front-page & {
      display: none;
    }
  }

  @include query($mobile-1) {
    right: 5px;
  }
}

// Tags toggle button
.tags-btn {
  @extend %button;
  width: 155px;
  height: 100%;
  padding: 0 20px;
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: white;
  line-height: 1;

  &.open,
  &.open:hover {
    @include bg($black);
  }

  &:hover {
    @include bg($black, 0.2);
  }
}

// CMS menu add/edit button
.edit-btn {
  display: inline-block;
}

// General rules for all navigation menus.
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-main {
  @extend %bebas-neue;

  &.narrow {
    max-width: 500px;
  }

  .front-page & {
    text-align: center;
  }

  .content-page .header & {
    @include query($mobile-1) {
      display: none;

      &.expanded {
        position: absolute;
        top: 62px;
        right: 20px;
        z-index: 10;
        display: block;
        min-width: 350px;
        margin-bottom: 60px;
        text-align: left;
        @include bg($white);
        @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
      }
    }

    @include query($mobile-1) {
      &.expanded {
        top: 50px;
        left: -25px;
        right: -25px;
        min-width: 0;
        margin-bottom: 40px;
        @include no-box-shadow;
      }
    }
  }

  .menu {
    .content-page {
      line-height: 1.3;
    }

    .menu-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;

      .front-page & {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }

      @include query($mobile-1) {
        &:first-child {
          @include border(top, 1px, solid, $primary-color, 0.33);
        }

        .content-page & {
          display: block;
          margin-right: 0;
        }
      }

      .menu-link {
        .front-page &,
        .front-page.dark-background & {
          @include color($white);

          &.untranslated {
            @include color($white, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($white, 0.8);
          }
        }

        .front-page.light-background & {
          @include color($black);

          &.untranslated {
            @include color($black, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($black, 0.8);
          }
        }
        .front-page & {
          font-size: 16px;
        }

        .content-page & {
          font-size: 14px;
          @include color($primary-color);

          &.untranslated {
            @include color($primary-color, 0.5);
          }

          &.active,
          &.active:hover,
          &:hover {
            @include color($secondary-color);
          }
        }

        .topbar & {
          &.active,
          &.active:hover {
            @include color($white);
          }

          &:hover {
            @include color($white, 0.5);
          }
        }

        &:hover {
          @include color($secondary-color);
        }

        .content-page & {
          @include query($mobile-1) {
            display: block;
            padding: 7px 20px 4px;
            font-size: 20px;
            @include border(bottom, 1px, solid, $primary-color, 0.33);

            &.active,
            &.active:hover {

            }

            &:hover {

            }
          }
        }
      }
    }

    .edit-btn {
      margin-left: 8px;

      @include query($mobile-1) {
        .content-page & {
          display: block;
          margin-left: 0;
          padding: 10px 25px;
          @include border(bottom, 1px, solid, $primary-color, 0.33);
        }
      }
    }
  }

  // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
  .menu-lang {
    display: none;

    .content-page & {
      @include query($mobile-1) {
        display: block;
        margin-left: 0;
        padding-left: 0;
        .menu {
          .menu-item {
            text-align: left;

            &:first-child {
              border-top: none;
            }

            .menu-link {
              padding: 10px 20px 9px 47px;

              &:before,
              &:after {
                top: 13px;
                left: 20px;
              }

              &.active,
              &.active:hover {
                font-weight: 600;
              }

              &.active,
              &:hover {
                background: none;
              }
            }
          }

          .edit-btn {
            padding: 12px 25px 13px;
          }
        }
      }
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub-wrap {
  @include border(bottom, 1px, solid, $primary-color, 0.33);
}

.menu-sub {
  padding: 15px 5px;

  .menu {

    .menu-item {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include color($primary-color);

        &.untranslated {
          @include color($secondary-color, 0.5);
        }

        &.active,
        &.active:hover {
          @include color($secondary-color);
        }

        &:hover {
          @include color($secondary-color);
        }
      }
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($mobile-1) {
    .content-page & {
      position: static;
    }
  }

  .content-page & {
    @include query($mobile-1) {
      display: none;
    }
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;

    .menu-link {
      position: relative;
      display: block;
      padding: 4px 39px 4px 12px;
      @include color($secondary-color, 0.67);

      &.active,
      &.active:hover {
        @include opacity(0.5);
        @include filter(grayscale(100%));
      }

      &:hover {
        @include opacity(0.75);
        @include filter(grayscale(50%));
      }

      &:before,
      &:after {
        top: 3px;
        right: 11px;
      }
    }
  }
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    top: 6px;
    left: 5px;
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 13px;
    content: '';
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-size: 200px;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 18px;
    right: -12px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 121px;
    background: #fff;
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    z-index: 30;
  }

  .edit-btn {
    display: block;
    padding: 8px 20px 3px;
    text-align: right;
  }
}

// Language flag icons positioning in the spritemap.
$flags:
(sq,   0        0),
(hy,  -20px     0),
(bn,  -40px     0),
(pt,  -60px     0),
(bg,  -80px     0),
(zh, -100px     0),
(hr, -120px     0),
(da, -140px     0),
(cs, -160px     0),
(et, -180px     0),

(fi,    0px -14px),
(fr,  -20px -14px),
(ka,  -40px -14px),
(de,  -60px -14px),
(el,  -80px -14px),
(hu, -100px -14px),
(is, -120px -14px),
(hi, -140px -14px),
(id, -160px -14px),
(fa, -180px -14px),

(he,    0px -28px),
(it,  -20px -28px),
(ja,  -40px -28px),
(ko,  -60px -28px),
(lv,  -80px -28px),
(lt, -100px -28px),
(ms, -120px -28px),
(nl, -140px -28px),
(no, -160px -28px),
(ur, -180px -28px),

(fil,   0px -42px),
(pl,  -20px -42px),
(ro,  -40px -42px),
(ru,  -60px -42px),
(ar,  -80px -42px),
(lt, -100px -42px),
(sk, -120px -42px),
(es, -140px -42px),
(sv, -160px -42px),
(tr, -180px -42px),
(uk,    0px -56px),
(en,  -20px -56px)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after { background-position: $pos; }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags-editor {
  padding: 15px 5px;
}

.tags {
  @include border(bottom, 1px, solid, $primary-color, 0.33);

  .topbar & {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    z-index: 1;
    text-align: right;
    border: none;
  }
}

.tags-title {
  font-weight: 700;
}

.menu-tags {
  display: inline-block;
  .topbar & {
    display: none;

    &.expanded {
      display: block;
      padding-bottom: 30px;
      text-align: right;
      @include bg($black);

      .menu-item {
        display: block;

        .menu-link {
          display: block;
          padding: 3px 20px;
          font-size: 12px;
          @include color($primary-color);

          &.active,
          &.active:hover {
            font-weight: 600;
          }

          &.active,
          &:hover {
            @include color($white);
          }
        }
      }
    }
  }
}
