/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search,
.search-form {
  @extend %clearfix;
}

.search {
  display: none;
  vertical-align: middle;
  @include rem-fallback(margin-top, -4);
  @include rem-fallback(margin-left, 15);
  height: $search-height;
  line-height: 1;
  @include bg($white);

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.search-middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  @include rem-fallback(padding, 0, 20);
  @include box-sizing(border-box);
}

.search-inner {
  max-width: 400px;
  margin: 60px auto;
  margin: 6rem auto;
  @include box-shadow(0, 0, 100px, 0, rgba($black, 0.75));
  @include box-shadow(0, 0, 10rem, 0, rgba($black, 0.75));
}

.search-form {
  position: relative;
  z-index: 20;
  @include bg($white, 0.95);
  @include border(all, 1px, solid, $black, 0.1);
  @include rem-fallback(border-width, 1);

  &.active {
    @include border(all, 1px, solid, $black, 0.3);
    @include rem-fallback(border-width, 1);
  }

  &, &.active {
    max-width: 400px;
    margin: 0 auto;
    border: none;
  }
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: $search-height;
  margin: 0;
  @include rem-fallback(padding, 0, 40, 0, 10);
  font-family: inherit;
  @include rem-fallback(font-size, 24);
  line-height: 1;
  @include color($secondary-color);
  background: none;
  @include box-sizing(border-box);
  border: none;

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    @include rem-fallback(padding, 2, 0, 4, 0);
    line-height: 1;
    @include color($secondary-color, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.search-btn,
.search-submit {
  @extend %button;
  vertical-align: top;
  @include rem-fallback(width, 30);
  height: $search-height;

  &, .dark-background & {
    .no-svg & {
      background-image: url('../images/ico-search-white.png');
    }
  }

  .light-background & {
    .no-svg & {
      background-image: url('../images/ico-search-black.png');
    }
  }

  .no-svg & {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  @include rem-fallback(width, 41);
  @include rem-fallback(background-size, 32);

  @include opacity(0.5);

  &:hover {
    @include opacity(1);
  }

  svg {
    fill: $secondary-color;
  }
}

.search-btn {
  position: relative;
  @include rem-fallback(top, 1);
  z-index: 25;
  vertical-align: middle;
  @include opacity(0.5);
  @include rem-fallback(width, 22);
  @include rem-fallback(height, 22);
  font-size: 0;

  svg {
    .front-page.dark-background & {
      fill: $white;
    }

    .front-page.light-background & {
      fill: $black;
    }
  }

  &:hover {
    @include opacity(1);
  }

  &:focus {
    outline: none;
  }

  @include query($mobile-1) {
    .content-page & {
      @include rem-fallback(margin-right, 35);
    }
  }
}

.search-open-btn {
  &.open {
    display: none;
  }
}

.search-close-btn {
  display: none;

  &.open {
    display: inline-block;
  }
}

.voog-search-modal {
  @include box-sizing(border-box);
  z-index: 999;
  width: 100%;
  @include rem-fallback(max-width, 400);
  margin: 0 auto;
  @include bg($grey-4, 0.95);
  @include no-box-shadow;
  overflow-x: hidden;
  overflow-y: auto;

  &.search-results-active {
    @include rem-fallback(padding, 20, 27);
  }
}

.voog-search-modal-results {
  &.no-content {
    text-align: center;
  }

  h3 {
    @extend %bebas-neue;
    margin: 0;
    @include rem-fallback(font-size, 24);

    a {
      text-decoration: none;
      font-weight: 600;
      @include color($secondary-color);

      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }

  p {
    @include rem-fallback(margin, 5, 0, 0);
    @include rem-fallback(font-size, 14);
  }
}

.voog-search-modal-result {
  @include rem-fallback(margin-top, 18);

  &:first-child {
    margin-top: 0;
  }
}
