/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search,
.search-form {
  @extend %clearfix;
}

.search {
  display: none;
  vertical-align: middle;
  margin-top: -4px;
  margin-left: 15px;
  height: $search-height;
  line-height: 1;
  @include bg($white);

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.search-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -$search-height / 2;
  padding: 0 20px;
  @include box-sizing(border-box);

}

.search-form {
  position: relative;
  z-index: 20;
  @include bg($white, 0.95);
  @include border(all, 1px, solid, $black, 0.1);

  &.active {
    @include border(all, 1px, solid, $black, 0.3);
  }

  &, &.active {
    max-width: 400px;
    margin: 0 auto;
    border: none;
  }
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: $search-height;
  margin: 0;
  padding: 0 40px 0 10px;
  font-family: inherit;
  font-size: 24px;
  line-height: 1;
  @include color($secondary-color, 0.67);
  background: none;
  @include box-sizing(border-box);
  border: none;
  @include box-shadow(0, 0, 100px, rgba($black, 0.75));

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    padding: 2px 0 4px 0;
    line-height: 1;
    @include color($secondary-color, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.search-btn,
.search-submit {
  @extend %button;
  vertical-align: top;
  width: 30px;
  height: $search-height;
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 41px;
  background-size: 32px;

  @include opacity(0.5);

  &:hover {
    @include opacity(1);
  }

  svg {
    fill: $secondary-color;
  }
}

.search-btn {
  position: relative;
  z-index: 25;
  vertical-align: middle;
  @include opacity(0.5);
  width: 22px;
  height: 22px;
  font-size: 0;

  &:hover {
    @include opacity(1);
  }

  &:focus {
    outline: none;
  }

  .dark-background & {
    svg {
      fill: $white;
    }
  }

  .light-background & {
    svg {
      fill: $black;
    }
  }

  @include query($mobile-1) {
    position: relative;
    top: 1px;

    .front-page & {
      right: 0;
    }

    .common-page & {
      right: 40px;
    }
  }
}

.search-open-btn {
  &.open {
    display: none;
  }
}

.search-close-btn {
  display: none;

  &.open {
    display: inline-block;
  }
}

.voog-search-modal {
  position: absolute;
  @include box-sizing(border-box);
  z-index: 20;
  width: 100%;
  max-width: 400px;
  padding: 20px 27px;
  @include bg($grey-4, 0.95);
}

.voog-search-modal-results {
  text-align: center;
}

// .voog-search-modal {
//   position: absolute;
//   @include box-sizing(border-box);
//   z-index: 20;
//   width: 100%;
//   max-width: 400px;
//   max-height: 300px;
//   margin-top: 0;
//   padding: 20px 27px;
//   @include box-shadow(0, 0, 30px, rgba($black, 0.5));
//   overflow-x: hidden;
//   overflow-y: auto;

//   &.no-content {
//     text-align: center;
//     padding-bottom: 24px;
//   }

//   em {
//     font-weight: 600;
//     font-style: normal;
//     @include bg($yellow, 0.5);
//     border-radius: 2px;
//   }
// }

// .voog-search-modal-result {
//   margin-top: 18px;
// }

// .voog-search-loader {
//   display: none;
//   height: 24px;
//   text-align: center;
//   background: url('../assets/dot-loader.svg') no-repeat center;
// }

// .voog-search-modal-result {
//   margin-top: 18px;

//   &:first-child {
//     margin-top: 0;
//   }
// }

// .voog-search-title {
//   @extend %bebas-neue;
//   margin: 0;
//   font-size: 24px;
// }

// .voog-search-link {
//   text-decoration: none;
//   font-weight: 600;
//   @include color($secondary-color);

//   &:hover {
//     @include color($secondary-color, 0.8);
//   }
// }

// .voog-search-content {
//   margin: 5px 0 0;
//   font-size: 14px;
// }
