// VARIABLES
// General text colors
$primary-color: #888;
$secondary-color: #444;
$post-date-color: #1b2124;

// General background colors
$input-bg: #f2f2f2;

// General colors
$black: #000;
$white: #fff;

$red: #c00;
$green: #60a740;
$blue: #308cb4;

// Media queries
$tablet-1: 940px;
$tablet-2: 840px;
$tablet-3: 760px;
$mobile-1: 550px;
$mobile-2: 480px;
$mobile-3: 420px;
