/* EDITMODE STYLESHEET */
.edy-ca {
  margin-top: 20px;
}
.edy-ca:first-child {
  margin-top: 0;
}

.dark-background .edy-empty-bordered {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  border: 1px dashed #FFFFFF;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.dark-background .placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.dark-background .edy-content-element-hover {
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-background .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.4);
}
.dark-background .edy-texteditor-active:hover {
  outline: 1px solid rgba(255, 255, 255, 0.63);
}

.front-page .edy-gallery-area .edy-gallery-thumb {
  float: none;
}
