/* IE8 FALLBACKS */
.body-background-color {
  -ms-filter: "alpha(opacity=50)";
}

.menu-lang-btn:before, .menu-lang-btn:after {
  position: absolute;
  top: -1px;
  left: 6px;
  margin-top: -6px;
  margin-left: -1px;
}
