/*
Error: Undefined variable: "$large-1".
        on line 37 of sources/stylesheets/_general.scss, in `query'
        from line 37 of sources/stylesheets/_general.scss
        from line 8 of sources/stylesheets/main.scss

Backtrace:
sources/stylesheets/_general.scss:37:in `query'
sources/stylesheets/_general.scss:37
sources/stylesheets/main.scss:8
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:355:in `block (2 levels) in visit_mixin'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:355:in `map'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:355:in `block in visit_mixin'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:420:in `run'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/bin/sass:23:in `load'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/bin/sass:23:in `<main>'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `eval'
/Users/sirjesiilik/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$large-1\".\A         on line 37 of sources/stylesheets/_general.scss, in `query'\A         from line 37 of sources/stylesheets/_general.scss\A         from line 8 of sources/stylesheets/main.scss"; }
