/* FONTS */
@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/bebas-neue-regular.eot");
  src: url("../assets/bebas-neue-regular.eot?#iefix") format("embedded-opentype"), url("../assets/bebas-neue-regular.woff") format("woff"), url("../assets/bebas-neue-regular.ttf") format("truetype"), url("../assets/bebas-neue-regular.svg#Bebas Neue") format("svg");
}
/* GENERAL */
html,
body {
  height: 100% !important;
}

.editmode, .editmode body {
  height: -webkit-calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #888888;
  -webkit-overflow-scrolling: touch;
}

.content-formatted h1, .menu-main, .header-title, .post-title,
.post-title a,
.post-date, .voog-search-modal-results h3, .comments .comments-title {
  font-family: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.content-formatted:after, .edys-gallery-area .edys-gallery:after, .search:after,
.search-form:after {
  content: '';
  display: table;
  clear: both;
}

.background-color {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bgpicker-btn, .menu-btn, .tags-btn, .search-btn,
.search-submit {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.bgpicker-btn::-moz-focus-inner, .menu-btn::-moz-focus-inner, .tags-btn::-moz-focus-inner, .search-btn::-moz-focus-inner,
.search-submit::-moz-focus-inner {
  padding: 0;
  border: none;
}
.bgpicker-btn:focus, .menu-btn:focus, .tags-btn:focus, .search-btn:focus,
.search-submit:focus {
  outline: none;
}

.top-gradient {
  position: absolute;
  left: 0;
  right: 0;
  height: 96px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.2) 1%, rgba(255, 255, 255, 0.17) 19%, rgba(255, 255, 255, 0.05) 69%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.2) 1%, rgba(255, 255, 255, 0.17) 19%, rgba(255, 255, 255, 0.05) 69%, rgba(255, 255, 255, 0) 100%);
}

.bgpicker-btn {
  position: absolute;
}

.background-color {
  position: fixed;
  z-index: -2;
}

.container {
  position: relative;
  min-height: 100%;
}
.container a {
  text-decoration: none;
}
.container a img {
  border: none;
}

.container-middle {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.front-page .container-middle {
  max-width: 450px;
}
.content-page .container-middle {
  max-width: 720px;
}

.container-inner {
  display: table-cell;
  vertical-align: middle;
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 25px;
}
.front-page .container-inner .wrap {
  max-width: 450px;
}
.content-page .container-inner .wrap {
  max-width: 720px;
  background-color: white;
}

.content-formatted {
  word-wrap: break-word;
}
.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6, .content-formatted p, .content-formatted ul, .content-formatted ol, .content-formatted pre, .content-formatted code, .content-formatted img, .content-formatted iframe, .content-formatted table form {
  margin-bottom: 0;
}
.content-formatted h1:first-child, .content-formatted h2:first-child, .content-formatted h3:first-child, .content-formatted h4:first-child, .content-formatted h5:first-child, .content-formatted h6:first-child, .content-formatted p:first-child, .content-formatted ul:first-child, .content-formatted ol:first-child, .content-formatted pre:first-child, .content-formatted code:first-child, .content-formatted img:first-child, .content-formatted iframe:first-child, .content-formatted table form:first-child {
  margin-top: 0;
}
.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  color: #444444;
}
.content-formatted h1 {
  margin-top: 25px;
  font-size: 36px;
  line-height: 1;
}
.content-formatted h2 {
  margin-top: 16px;
  font-size: 18px;
}
.content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  margin-top: 20px;
  font-size: 16px;
}
.content-formatted p {
  margin-top: 20px;
}
.content-formatted a {
  color: #0066bb;
}
.content-formatted a:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}
.content-formatted img, .content-formatted iframe {
  max-width: 100%;
}
.content-formatted img {
  height: auto;
}
.content-formatted pre {
  margin-top: 10px;
  margin-bottom: 0;
  overflow: auto;
  white-space: nowrap;
}
.content-formatted pre, .content-formatted pre code {
  padding: 10px;
  font-size: 14px;
  background-color: #fafafa;
}
.content-formatted pre code {
  display: block;
  margin-top: 0;
  padding: 0;
}
.content-formatted blockquote {
  margin: 20px 40px;
}
.content-formatted .edy-texteditor-container.edy-positionable-container-left, .content-formatted .edy-texteditor-container.edy-positionable-container-right {
  width: 45%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.content-formatted .edy-texteditor-container.edy-positionable-container-left {
  margin-right: 6%;
}
.content-formatted .edy-texteditor-container.edy-positionable-container-right {
  margin-left: 6%;
}
@media screen and (max-width: 480px) {
  .content-formatted .edy-texteditor-container.edy-positionable-container-left, .content-formatted .edy-texteditor-container.edy-positionable-container-right {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.content-formatted .table-container {
  margin-top: 20px;
}
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted .horizontal-scroll {
  border-left: 1px dashed #f2f2f2;
  border-right: 1px dashed #f2f2f2;
}
.content-formatted table {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  border-collapse: collapse;
}
.content-formatted table td {
  padding: 10px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.front-page.dark-background .content-formatted .placeholder {
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
.dark-background .footer .content-formatted .edy-empty-bordered {
  border: 1px dashed white;
  border: 1px dashed rgba(255, 255, 255, 0.63);
}
.dark-background .footer .content-formatted .edy-empty-bordered .edy-empty-header {
  color: white;
  color: rgba(255, 255, 255, 0.63);
}
.dark-background .footer .content-formatted .edy-content-element-hover {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-background .footer .content-formatted .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.4);
}
.dark-background .footer .content-formatted .edy-texteditor-active:hover {
  outline: 1px solid rgba(255, 255, 255, 0.63);
}
.content-formatted .edy-content-element {
  margin-top: 20px;
}
.content-formatted .edy-content-element:first-child {
  margin-top: 0;
}
.content-formatted .edy-texteditor-view {
  min-height: 19px;
}
.footer .content-formatted .edy-texteditor-view {
  min-height: 12px;
}

/* MENUS */
.menu-btn {
  display: none;
}
.menu-btn .menu-stripe {
  display: block;
  width: 23px;
  height: 4px;
  margin: 4px 0;
  background-color: #444444;
  background-color: rgba(68, 68, 68, 0.67);
  border-radius: 5px;
}
.menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
  margin: 0;
}
@media screen and (max-width: 480px) {
  .menu-btn {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 1;
    display: inline-block;
    padding: 0;
  }
  .menu-btn.open .menu-stripe, .menu-btn:hover .menu-stripe {
    background-color: #444444;
    background-color: rgba(68, 68, 68, 0.47);
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .front-page .menu-btn {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu-btn {
    right: 5px;
  }
}

.tags-btn {
  width: 155px;
  height: 100%;
  padding: 0 20px;
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: white;
  line-height: 1;
}
.tags-btn.open, .tags-btn.open:hover {
  background-color: black;
}
.tags-btn:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-btn {
  display: inline-block;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-main.narrow {
  max-width: 500px;
}
.front-page .menu-main {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .content-page .header .menu-main {
    display: none;
  }
  .content-page .header .menu-main.expanded {
    position: absolute;
    top: 62px;
    right: 20px;
    z-index: 10;
    display: block;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  }
}
@media screen and (max-width: 480px) {
  .content-page .header .menu-main.expanded {
    top: 50px;
    left: -25px;
    right: -25px;
    min-width: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.menu-main .menu .content-page {
  line-height: 1.3;
}
.menu-main .menu .menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.front-page .menu-main .menu .menu-item {
  margin-right: 15px;
}
.menu-main .menu .menu-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .menu-main .menu .menu-item:first-child {
    border-top: 1px solid #888888;
    border-top: 1px solid rgba(136, 136, 136, 0.33);
  }
  .content-page .menu-main .menu .menu-item {
    display: block;
    margin-right: 0;
  }
}
.front-page .menu-main .menu .menu-item .menu-link, .front-page.dark-background .menu-main .menu .menu-item .menu-link {
  color: white;
}
.front-page .menu-main .menu .menu-item .menu-link.untranslated, .front-page.dark-background .menu-main .menu .menu-item .menu-link.untranslated {
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
.front-page .menu-main .menu .menu-item .menu-link.active, .front-page .menu-main .menu .menu-item .menu-link.active:hover, .front-page .menu-main .menu .menu-item .menu-link:hover, .front-page.dark-background .menu-main .menu .menu-item .menu-link.active, .front-page.dark-background .menu-main .menu .menu-item .menu-link.active:hover, .front-page.dark-background .menu-main .menu .menu-item .menu-link:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.front-page.light-background .menu-main .menu .menu-item .menu-link {
  color: black;
}
.front-page.light-background .menu-main .menu .menu-item .menu-link.untranslated {
  color: black;
  color: rgba(0, 0, 0, 0.5);
}
.front-page.light-background .menu-main .menu .menu-item .menu-link.active, .front-page.light-background .menu-main .menu .menu-item .menu-link.active:hover, .front-page.light-background .menu-main .menu .menu-item .menu-link:hover {
  color: black;
  color: rgba(0, 0, 0, 0.8);
}
.front-page .menu-main .menu .menu-item .menu-link {
  font-size: 16px;
}
.content-page .menu-main .menu .menu-item .menu-link {
  font-size: 14px;
  color: #888888;
}
.content-page .menu-main .menu .menu-item .menu-link.untranslated {
  color: #888888;
  color: rgba(136, 136, 136, 0.5);
}
.content-page .menu-main .menu .menu-item .menu-link.active, .content-page .menu-main .menu .menu-item .menu-link.active:hover, .content-page .menu-main .menu .menu-item .menu-link:hover {
  color: #444444;
}
.topbar .menu-main .menu .menu-item .menu-link.active, .topbar .menu-main .menu .menu-item .menu-link.active:hover {
  color: white;
}
.topbar .menu-main .menu .menu-item .menu-link:hover {
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
.menu-main .menu .menu-item .menu-link:hover {
  color: #444444;
}
@media screen and (max-width: 480px) {
  .content-page .menu-main .menu .menu-item .menu-link {
    display: block;
    padding: 7px 20px 4px;
    font-size: 20px;
    border-bottom: 1px solid #888888;
    border-bottom: 1px solid rgba(136, 136, 136, 0.33);
  }
}
.menu-main .menu .edit-btn {
  margin-left: 8px;
}
@media screen and (max-width: 480px) {
  .content-page .menu-main .menu .edit-btn {
    display: block;
    margin-left: 0;
    padding: 10px 25px;
    border-bottom: 1px solid #888888;
    border-bottom: 1px solid rgba(136, 136, 136, 0.33);
  }
}
.menu-main .menu-lang {
  display: none;
}
@media screen and (max-width: 480px) {
  .content-page .menu-main .menu-lang {
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
  .content-page .menu-main .menu-lang .menu .menu-item {
    text-align: left;
  }
  .content-page .menu-main .menu-lang .menu .menu-item:first-child {
    border-top: none;
  }
  .content-page .menu-main .menu-lang .menu .menu-item .menu-link {
    padding: 10px 20px 9px 47px;
  }
  .content-page .menu-main .menu-lang .menu .menu-item .menu-link:before, .content-page .menu-main .menu-lang .menu .menu-item .menu-link:after {
    top: 13px;
    left: 20px;
  }
  .content-page .menu-main .menu-lang .menu .menu-item .menu-link.active, .content-page .menu-main .menu-lang .menu .menu-item .menu-link.active:hover {
    font-weight: 600;
  }
  .content-page .menu-main .menu-lang .menu .menu-item .menu-link.active, .content-page .menu-main .menu-lang .menu .menu-item .menu-link:hover {
    background: none;
  }
  .content-page .menu-main .menu-lang .menu .edit-btn {
    padding: 12px 25px 13px;
  }
}

.menu-sub-wrap {
  border-bottom: 1px solid #888888;
  border-bottom: 1px solid rgba(136, 136, 136, 0.33);
}

.menu-sub {
  padding: 15px 5px;
}
.menu-sub .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
.menu-sub .menu .menu-item:first-child {
  margin-left: 0;
}
.menu-sub .menu .menu-item .menu-link {
  color: #888888;
}
.menu-sub .menu .menu-item .menu-link.untranslated {
  color: #444444;
  color: rgba(68, 68, 68, 0.5);
}
.menu-sub .menu .menu-item .menu-link.active, .menu-sub .menu .menu-item .menu-link.active:hover {
  color: #444444;
}
.menu-sub .menu .menu-item .menu-link:hover {
  color: #444444;
}

.menu-lang {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .content-page .menu-lang {
    position: static;
  }
}
@media screen and (max-width: 480px) {
  .content-page .menu-lang {
    display: none;
  }
}
.menu-lang .menu-item {
  display: list-item;
  text-align: right;
  font-size: 12px;
}
.menu-lang .menu-item .menu-link {
  position: relative;
  display: block;
  padding: 4px 39px 4px 12px;
  color: #444444;
  color: rgba(68, 68, 68, 0.67);
}
.menu-lang .menu-item .menu-link.active, .menu-lang .menu-item .menu-link.active:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.menu-lang .menu-item .menu-link:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.menu-lang .menu-item .menu-link:before, .menu-lang .menu-item .menu-link:after {
  top: 3px;
  right: 11px;
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-lang-btn:hover {
  opacity: 0.8;
}
.menu-lang-btn:focus {
  outline: none;
}
.menu-lang-btn:before, .menu-lang-btn:after {
  top: 6px;
  left: 5px;
}

.menu-lang-btn:before, .menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:before,
.menu-lang .menu-item .lang-flag:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 13px;
  content: '';
}

.menu-lang-btn:before,
.menu-lang .menu-item .lang-flag:before {
  background-color: black;
}
.menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:after {
  opacity: 0.95;
  background-size: 200px;
  background-repeat: no-repeat;
}
.no-svg .menu-lang-btn:after, .no-svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../images/ico-flags.png");
}
.svg .menu-lang-btn:after, .svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}

.menu-lang-popover {
  display: none;
}
.menu-lang-popover.expanded {
  position: absolute;
  top: 18px;
  right: -12px;
  display: block;
  margin-bottom: 40px;
  padding: 6px 0;
  min-width: 121px;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  z-index: 30;
}
.menu-lang-popover .edit-btn {
  display: block;
  padding: 8px 20px 3px;
  text-align: right;
}

.lang-flag-sq:after {
  background-position: 0 0;
}

.lang-flag-hy:after {
  background-position: -20px 0;
}

.lang-flag-bn:after {
  background-position: -40px 0;
}

.lang-flag-pt:after {
  background-position: -60px 0;
}

.lang-flag-bg:after {
  background-position: -80px 0;
}

.lang-flag-zh:after {
  background-position: -100px 0;
}

.lang-flag-hr:after {
  background-position: -120px 0;
}

.lang-flag-da:after {
  background-position: -140px 0;
}

.lang-flag-cs:after {
  background-position: -160px 0;
}

.lang-flag-et:after {
  background-position: -180px 0;
}

.lang-flag-fi:after {
  background-position: 0px -14px;
}

.lang-flag-fr:after {
  background-position: -20px -14px;
}

.lang-flag-ka:after {
  background-position: -40px -14px;
}

.lang-flag-de:after {
  background-position: -60px -14px;
}

.lang-flag-el:after {
  background-position: -80px -14px;
}

.lang-flag-hu:after {
  background-position: -100px -14px;
}

.lang-flag-is:after {
  background-position: -120px -14px;
}

.lang-flag-hi:after {
  background-position: -140px -14px;
}

.lang-flag-id:after {
  background-position: -160px -14px;
}

.lang-flag-fa:after {
  background-position: -180px -14px;
}

.lang-flag-he:after {
  background-position: 0px -28px;
}

.lang-flag-it:after {
  background-position: -20px -28px;
}

.lang-flag-ja:after {
  background-position: -40px -28px;
}

.lang-flag-ko:after {
  background-position: -60px -28px;
}

.lang-flag-lv:after {
  background-position: -80px -28px;
}

.lang-flag-lt:after {
  background-position: -100px -28px;
}

.lang-flag-ms:after {
  background-position: -120px -28px;
}

.lang-flag-nl:after {
  background-position: -140px -28px;
}

.lang-flag-no:after {
  background-position: -160px -28px;
}

.lang-flag-ur:after {
  background-position: -180px -28px;
}

.lang-flag-fil:after {
  background-position: 0px -42px;
}

.lang-flag-pl:after {
  background-position: -20px -42px;
}

.lang-flag-ro:after {
  background-position: -40px -42px;
}

.lang-flag-ru:after {
  background-position: -60px -42px;
}

.lang-flag-ar:after {
  background-position: -80px -42px;
}

.lang-flag-lt:after {
  background-position: -100px -42px;
}

.lang-flag-sk:after {
  background-position: -120px -42px;
}

.lang-flag-es:after {
  background-position: -140px -42px;
}

.lang-flag-sv:after {
  background-position: -160px -42px;
}

.lang-flag-tr:after {
  background-position: -180px -42px;
}

.lang-flag-uk:after {
  background-position: 0px -56px;
}

.lang-flag-en:after {
  background-position: -20px -56px;
}

.tags-editor {
  padding: 15px 5px;
}

.tags {
  border-bottom: 1px solid #888888;
  border-bottom: 1px solid rgba(136, 136, 136, 0.33);
}
.topbar .tags {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  z-index: 1;
  text-align: right;
  border: none;
}

.tags-title {
  font-weight: 700;
}

.menu-tags {
  display: inline-block;
}
.topbar .menu-tags {
  display: none;
}
.topbar .menu-tags.expanded {
  display: block;
  padding-bottom: 30px;
  text-align: right;
  background-color: black;
}
.topbar .menu-tags.expanded .menu-item {
  display: block;
}
.topbar .menu-tags.expanded .menu-item .menu-link {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  color: #888888;
}
.topbar .menu-tags.expanded .menu-item .menu-link.active, .topbar .menu-tags.expanded .menu-item .menu-link.active:hover {
  font-weight: 600;
}
.topbar .menu-tags.expanded .menu-item .menu-link.active, .topbar .menu-tags.expanded .menu-item .menu-link:hover {
  color: white;
}

/* HEADER */
.content-page .header {
  position: relative;
  padding: 0 5px 20px;
  border-bottom: 1px solid #888888;
  border-bottom: 1px solid rgba(136, 136, 136, 0.33);
}
.static .header {
  padding-top: 55px;
}

.front-page .header-top {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .content-page .header-top {
    min-height: 30px;
  }
}

.header-options {
  position: absolute;
  right: 25px;
  width: 50%;
  text-align: right;
}
.front-page .header-options {
  top: 18px;
}
.content-page .header-options {
  top: 25px;
}

.header-title {
  max-width: 630px;
  min-width: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}
.front-page .header-title {
  display: inline-block;
  max-width: 400px;
  padding-bottom: 20px;
}
.front-page .header-title, .front-page.dark-background .header-title {
  border-bottom: 3px solid white;
}
.front-page .header-title, .front-page .header-title a, .front-page.dark-background .header-title, .front-page.dark-background .header-title a {
  color: white;
}
.front-page .header-title a:hover, .front-page.dark-background .header-title a:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.light-background.front-page .header-title {
  border-bottom: 2px solid black;
}
.light-background.front-page .header-title, .light-background.front-page .header-title a {
  color: black;
}
.light-background.front-page .header-title a:hover {
  color: black;
  color: rgba(0, 0, 0, 0.8);
}
.front-page .header-title {
  text-align: center;
  font-size: 60px;
}
.content-page .header-title,
.content-page .header-title a {
  color: #444444;
}
.content-page .header-title a:hover {
  color: #444444;
  color: rgba(68, 68, 68, 0.8);
}

.front-page .header-bottom {
  padding-top: 25px;
}

/* TOPBAR */
.topbar {
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #444444;
  -webkit-transition: top 0.2s 0.2s;
  -moz-transition: top 0.2s 0.2s;
  transition: top 0.2s 0.2s;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.topbar .wrap {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  padding: 12px 30px;
}
.container-inner .topbar .wrap {
  background: none;
}
@media screen and (max-width: 900px) {
  .topbar {
    display: none;
  }
}

/* SIDEBAR */
/* CONTENT */
.content {
  display: block;
  padding: 43px 5px;
}
@media screen and (max-width: 720px) {
  .content .container-inner {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .content .content {
    padding: 20px 0;
  }
}

/* BLOG & BLOG ARTICLE */
.post-title,
.post-title a,
.post-date {
  font-size: 36px;
}

.post-title {
  display: inline;
  margin: 0 10px 0 0;
  word-break: break-all;
  font-weight: normal;
}
.post-title, .post-title a {
  color: #444444;
}
.post-title a:hover {
  color: #444444;
  color: rgba(68, 68, 68, 0.8);
}

.post-date {
  color: #e2e2e2;
}

.post-comments-count a {
  color: #0066bb;
}
.post-comments-count a:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}

.post-content {
  margin-top: 17px;
}

.post-body {
  margin-top: 20px;
}

.blog-page .post {
  margin-top: 43px;
}
.blog-page .post:first-child {
  margin-top: 0;
}

.editmode .post-page .post-title {
  display: inline-block;
  min-width: 200px;
}

/* GALLERY */
.edys-gallery-area {
  margin-top: 20px;
}
.edys-gallery-area:first-child {
  margin-top: 0;
}
.edys-gallery-area .edys-gallery .edys-gallery-item {
  display: inline-block;
  width: 90px;
  padding-bottom: 1px;
}
.edys-gallery-area .edys-gallery .edys-gallery-item:nth-child(7n+7) {
  padding-right: 0;
}
.edys-gallery-area .edys-gallery .edys-gallery-item .edys-gallery-image {
  display: block;
  width: auto;
  height: auto;
}
.edys-gallery-area .edys-gallery .edys-gallery-item .edys-gallery-image.inactive {
  opacity: 0.6;
}

.editmode .edy-gallery-area .edy-gallery-thumb {
  width: 90px;
  height: 90px;
}
.editmode .edy-gallery-area .edy-gallery-thumb:nth-child(8n+8) {
  margin-right: 0;
}
.editmode .edy-gallery-area .edy-gallery-thumb .edy-gallery-image {
  width: 90px;
  height: 90px;
}

/* SEARCH */
.search {
  display: none;
  vertical-align: middle;
  margin-top: -4px;
  margin-left: 15px;
  height: 50px;
  line-height: 1;
  background-color: white;
}
.search.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.search-middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-inner {
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
}

.search-form {
  position: relative;
  z-index: 20;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.search-form.active {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.search-form, .search-form.active {
  max-width: 400px;
  margin: 0 auto;
  border: none;
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 40px 0 10px;
  font-family: inherit;
  font-size: 24px;
  line-height: 1;
  color: #444444;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
.search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-input-placeholder {
  padding: 2px 0 4px 0;
  line-height: 1;
  color: #444444;
  color: rgba(68, 68, 68, 0.5);
}
.search-input:focus {
  outline: none;
}

.search-btn,
.search-submit {
  vertical-align: top;
  width: 30px;
  height: 50px;
}
.no-svg .search-btn, .no-svg .dark-background .search-btn, .no-svg
.search-submit, .no-svg .dark-background
.search-submit {
  background-image: url("../images/ico-search-white.png");
}
.no-svg .light-background .search-btn, .no-svg .light-background
.search-submit {
  background-image: url("../images/ico-search-black.png");
}
.no-svg .search-btn, .no-svg
.search-submit {
  background-position: center;
  background-repeat: no-repeat;
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 41px;
  background-size: 32px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.search-submit:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.search-submit svg {
  fill: #444444;
}

.search-btn {
  position: relative;
  z-index: 25;
  vertical-align: middle;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 22px;
  height: 22px;
  font-size: 0;
}
.front-page.dark-background .search-btn svg {
  fill: white;
}
.front-page.light-background .search-btn svg {
  fill: black;
}
.search-btn:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.search-btn:focus {
  outline: none;
}
@media screen and (max-width: 480px) {
  .search-btn {
    position: relative;
    top: 1px;
  }
  .front-page .search-btn {
    right: 0;
  }
  .common-page .search-btn {
    right: 40px;
  }
}

.search-open-btn.open {
  display: none;
}

.search-close-btn {
  display: none;
}
.search-close-btn.open {
  display: inline-block;
}

.voog-search-modal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #edecec;
  background-color: rgba(237, 236, 236, 0.95);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.voog-search-modal.search-results-active {
  padding: 20px 27px;
}

.voog-search-modal-results.no-content {
  text-align: center;
}
.voog-search-modal-results h3 {
  margin: 0;
  font-size: 24px;
}
.voog-search-modal-results h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #444444;
}
.voog-search-modal-results h3 a:hover {
  color: #444444;
  color: rgba(68, 68, 68, 0.8);
}
.voog-search-modal-results p {
  margin: 5px 0 0;
  font-size: 14px;
}

.voog-search-modal-result {
  margin-top: 18px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}

/* FORMS */
.content-formatted form {
  max-width: 100%;
  margin-top: 20px;
}
.content-formatted .form_field {
  margin-top: 15px;
}
.content-formatted .form_field:first-child {
  margin-top: 0;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
  color: #444444;
}
.content-formatted .form_field label {
  position: relative;
  display: inline;
  padding-left: 8px;
  font-weight: 400;
  line-height: 1.3;
  cursor: pointer;
}
.content-formatted .form_field label:after {
  content: '\a';
  white-space: pre;
}
.content-formatted .form_field label:before {
  display: block;
}
.content-formatted .form_field .edy-fe-label,
.content-formatted .form_field .form_field_label {
  padding-left: 0;
  font-weight: 600;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select {
  width: 280px;
  margin: 8px 0 0;
  padding: 5px 8px 6px;
  background-color: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_textfield,
  .content-formatted .form_field_textarea,
  .content-formatted .form_field_select {
    width: 100%;
  }
}
.content-formatted .form_field_textfield:focus,
.content-formatted .form_field_textarea:focus,
.content-formatted .form_field_select:focus {
  outline: none;
}
.content-formatted .form_field_select {
  padding: 7px 9px 6px 9px;
  text-indent: 0.01px;
  text-overflow: '';
  background-position: 97.5% 13px;
  background-repeat: no-repeat;
  border: none;
}
.no-svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.content-formatted .form_field_checkbox,
.content-formatted .form_field_radio {
  visibility: hidden;
  margin-bottom: 8px;
}
.content-formatted .form_field_checkbox + .form_control_indicator,
.content-formatted .form_field_radio + .form_control_indicator {
  position: absolute;
  left: 3px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
}
.content-formatted .form_field_checkbox + .form_control_indicator {
  top: 3px;
}
.content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  position: absolute;
  top: -3px;
  left: 3px;
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  background-size: cover;
}
.no-svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../images/ico-tick.png");
}
.svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../assets/ico-tick.svg");
}
.content-formatted .form_field_radio + .form_control_indicator {
  top: 2px;
}
.content-formatted .form_field_radio + .form_control_indicator, .content-formatted .form_field_radio + .form_control_indicator:before {
  border-radius: 100%;
}
.content-formatted .form_field_radio:checked + .form_control_indicator:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  background-color: #444444;
}
.content-formatted .form_field_size_medium {
  width: 420px;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_size_medium {
    width: 100%;
  }
}
.content-formatted .form_field_size_large {
  width: 580px;
}
.content-formatted .form_submit input {
  display: block;
  margin: 18px 0 0;
  padding: 8px 11px;
  font-size: 14px;
  color: white;
  line-height: 1;
  background-color: #0066bb;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_submit input:hover {
  background-color: #0066bb;
  background-color: rgba(0, 102, 187, 0.8);
}
@media screen and (max-width: 420px) {
  .content-formatted .form_submit input {
    width: 100%;
  }
}
.content-formatted .form_field_required .form_field_label:after {
  content: ' * \a';
}
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  border: 1px solid #cc0000;
}
.content-formatted .form_field_error {
  margin-top: 5px;
  margin-left: 1px;
  color: #cc0000;
}
.content-formatted .feedback-loading,
.content-formatted .feedback-error,
.content-formatted .feedback-success,
.content-formatted .form_error,
.content-formatted .form_notice {
  display: inline-block;
  vertical-align: top;
  color: white;
  line-height: 1;
}
.content-formatted .feedback-error,
.content-formatted .feedback-success,
.content-formatted .form_error,
.content-formatted .form_notice {
  padding: 8px 12px;
  font-size: 14px;
}
.content-formatted .feedback-error,
.content-formatted .feedback-loading,
.content-formatted .feedback-success {
  margin: 18px 0 0;
}
.content-formatted .feedback-loading {
  width: 60px;
  text-align: center;
  font-size: 30px;
  background-color: #444444;
  background-color: rgba(68, 68, 68, 0.5);
}
.content-formatted .feedback-loading span {
  display: inline-block;
  vertical-align: middle;
  width: 7.5px;
  height: 7.5px;
  margin: 0 3px 5px 0;
  background: transparent;
  border-radius: 50%;
  -webkit-animation: feedback-loading 0.8s linear infinite;
  -moz-animation: feedback-loading 0.8s linear infinite;
  animation: feedback-loading 0.8s linear infinite;
}
.content-formatted .feedback-loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.content-formatted .feedback-loading span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.content-formatted .feedback-loading span:last-child {
  margin-right: 0;
}
@-webkit-keyframes feedback-loading {
  .content-formatted 0%  {
    background: transparent;
  }
  .content-formatted 50%  {
    background: white;
  }
  .content-formatted 100%  {
    background: transparent;
  }
}
@-moz-keyframes feedback-loading {
  .content-formatted 0%  {
    background: transparent;
  }
  .content-formatted 50%  {
    background: white;
  }
  .content-formatted 100%  {
    background: transparent;
  }
}
@keyframes feedback-loading {
  .content-formatted 0%  {
    background: transparent;
  }
  .content-formatted 50%  {
    background: white;
  }
  .content-formatted 100%  {
    background: transparent;
  }
}
.content-formatted .feedback-error,
.content-formatted .form_error {
  background-color: #cc0000;
}
.content-formatted .feedback-success,
.content-formatted .form_notice {
  background-color: #60a740;
}
.content-formatted .form_error,
.content-formatted .form_notice {
  margin-bottom: 20px;
}
.content-formatted .close-btn {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 2px 0 5px 9px;
  padding: 0;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
}
.content-formatted .close-btn:hover {
  opacity: .8;
}
.content-formatted .close-btn:focus {
  outline: none;
}
.no-svg .content-formatted .close-btn {
  background: url("../images/ico-close.png") center center no-repeat;
}
.svg .content-formatted .close-btn {
  background: url("../assets/ico-close.svg") center center no-repeat;
}

/* COMMENTS */
.comments {
  padding: 25px 5px 0;
  border-top: 1px solid #888888;
  border-top: 1px solid rgba(136, 136, 136, 0.33);
}
.comments .comments-title {
  font-size: 30px;
}
.comments .comment,
.comments .comment-form {
  margin-top: 30px;
}
.comments .comment {
  padding-left: 20px;
  line-height: 1.5;
  border-left: 3px solid black;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
}
.comments .comment-info {
  color: #e2e2e2;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .wrap {
  display: table;
  width: 100%;
  max-width: 720px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
}
.footer .wrap-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer .content-formatted,
.footer .voog-reference {
  display: inline-block;
}
.footer .content-formatted {
  max-width: 590px;
  min-width: 30px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: center;
  font-size: 9px;
}
.footer .content-formatted, .dark-background .footer .content-formatted {
  color: white;
  color: rgba(255, 255, 255, 0.33);
}
.footer .content-formatted a, .dark-background .footer .content-formatted a {
  color: white;
  color: rgba(255, 255, 255, 0.66);
}
.footer .content-formatted a:hover, .dark-background .footer .content-formatted a:hover {
  color: white;
}
.light-background .footer .content-formatted {
  color: black;
  color: rgba(0, 0, 0, 0.66);
}
.light-background .footer .content-formatted a {
  color: black;
  color: rgba(0, 0, 0, 0.88);
}
.light-background .footer .content-formatted a:hover {
  color: black;
}
.footer .voog-reference a {
  display: block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 35px;
  height: 8px;
  font-size: 0;
}
.no-svg .footer .voog-reference a, .no-svg .dark-background .footer .voog-reference a {
  background-image: url("../images/ico-voog-white.png");
}
.svg .footer .voog-reference a, .svg .dark-background .footer .voog-reference a {
  background-image: url("../assets/ico-voog-white.svg");
}
.no-svg .light-background .footer .voog-reference a {
  background-image: url("../images/ico-voog-black.png");
}
.svg .light-background .footer .voog-reference a {
  background-image: url("../assets/ico-voog-black.svg");
}
.footer .voog-reference a:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.footer-gradient {
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.33) 23%, rgba(0, 0, 0, 0.81) 78%, rgba(0, 0, 0, 0.88) 89%, rgba(0, 0, 0, 0.91) 98%, rgba(0, 0, 0, 0.95) 99%, rgba(0, 0, 0, 0.88) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.33) 23%, rgba(0, 0, 0, 0.81) 78%, rgba(0, 0, 0, 0.88) 89%, rgba(0, 0, 0, 0.91) 98%, rgba(0, 0, 0, 0.95) 99%, rgba(0, 0, 0, 0.88) 100%);
}
