/* FONTS */
@font-face {
  font-family: "Custom Font name";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/custom-font-file-name.eot");
  src: url("../assets/custom-font-file-name.eot?#iefix") format("embedded-opentype"), url("../assets/custom-font-file-name.woff") format("woff"), url("../assets/custom-font-file-name.ttf") format("truetype"), url("../assets/custom-font-file-name.svg#Custom Font name") format("svg");
}

@font-face {
  font-family: "Custom Font name";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/custom-font-file-name.eot");
  src: url("../assets/custom-font-file-name.eot?#iefix") format("embedded-opentype"), url("../assets/custom-font-file-name.woff") format("woff"), url("../assets/custom-font-file-name.ttf") format("truetype"), url("../assets/custom-font-file-name.svg#Custom Font name") format("svg");
}

@font-face {
  font-family: "Custom Font name";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/custom-font-file-name.eot");
  src: url("../assets/custom-font-file-name.eot?#iefix") format("embedded-opentype"), url("../assets/custom-font-file-name.woff") format("woff"), url("../assets/custom-font-file-name.ttf") format("truetype"), url("../assets/custom-font-file-name.svg#Custom Font name") format("svg");
}

/* GENERAL */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #727272;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.content-formatted:after {
  content: "";
  display: table;
  clear: both;
}

.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.bgpicker-btn:focus {
  outline: none;
}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: white;
}
@media screen and (max-width: 752px) {
  .container {
    padding: 20px;
  }
}
.container a {
  text-decoration: none;
}
.container a img {
  border: none;
}

.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted ul:first-child,
.content-formatted img:first-child,
.content-formatted pre:first-child,
.content-formatted code:first-child,
.content-formatted table:first-child {
  margin-top: 0;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6,
.content-formatted p,
.content-formatted ul {
  margin-bottom: 0;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  color: #1b2124;
  word-wrap: break-word;
}
.content-formatted h1 {
  margin-top: 40px;
  font-size: 50px;
  line-height: 1;
}
.content-formatted h2 {
  margin-top: 15px;
  font-size: 30px;
}
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  margin-top: 20px;
  font-size: 25px;
}
.content-formatted p {
  margin-top: 20px;
}
.content-formatted a {
  color: #0066bb;
}
.content-formatted a:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}
.content-formatted img,
.content-formatted iframe {
  max-width: 100%;
}
.content-formatted img {
  height: auto;
}
.content-formatted pre,
.content-formatted code,
.content-formatted .edy-texteditor-container {
  margin-top: 25px;
}
.content-formatted pre,
.content-formatted code {
  display: block;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  font-size: 14px;
  background-color: #fafafa;
}
.content-formatted .edy-texteditor-view {
  min-height: 32px;
}

/* MENUS */
/* HEADER */
/* TOPBAR */
/* SIDEBAR */
/* CONTENT */
/* FRONT PAGE */
/* COMMON PAGE */
/* BLOG & BLOG ARTICLE */
/* GALLERY */
/* TABLES */
/* SEARCH */
/* FORMS */
/* COMMENTS */
/* FOOTER */
